{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:app_id" content="552873124805448" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="Switch from Cigarettes to Smoking Liquids and Save 92%"/>
<meta name="twitter:description" content="High quality Smoking Liquids made in the UK, same as e-cigarettes but far less expensive... Get your first order 100% FREE!"/>
<meta name="twitter:image" content="http://smokingliquiddirect.co.uk/static/social_invites/twitter.jpg" >
<meta name="twitter:site" content="@SmokingLiquid">

<meta property="og:title" content="Switch from Cigarettes to Smoking Liquids and Save 92%"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://smokingliquiddirect.co.uk/static/social_invites/facebook.jpg"/>
<meta property="og:description" content="High quality Smoking Liquids made in the UK, same as e-cigarettes but far less expensive... Get your first order 100% FREE!"/>

<meta name="description" content="Save 92% by switching to Lambert Smoking Liquid. A quality E liquid supplier to the vaping community.">
<link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>
<title>{%block title%}{% trans 'E Cigarette | Smoking Liquid | E Liquid | Vaping Liquid | Vaping'%}{%endblock%}</title>
<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

{%block css%}
{%endblock%}
{%block js%}
{%endblock%}
</head>
<body>
{%block content%}

{%endblock%}
</body>
</html>