{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="icon" type="image/ico" href="{{ STATIC_URL }}favicon.ico"/>
<title>{%block title%}{% trans 'E Cigarette | Smoking Liquid | E Liquid | Vaping Liquid | Vaping'%}{%endblock%}</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

{%block css%}
{%endblock%}
{%block js%}
{%endblock%}
</head>
<body>
{%block content%}

{%endblock%}
</body>
</html>