{%extends "general.html"%}

{% load i18n%}

{%block title%}{% trans 'Paypal'%}{%endblock%}

{%block css%}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqModal.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style_public.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}jqModal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}public.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
