{%extends "general_new_signup.html" %}
{% load i18n%}

{%block css%}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqModal.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles_signup.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}jqModal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}public.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


{% endblock %}

{% block content %}
    <div class="top-dark-bar"></div>
            {% block middle_content %}

            {% endblock %}
</div>
{#    <script type="text/javascript" src="https://system.picreel.com/js/jstracker.min.js"></script>#}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49076616-1', 'smokingliquiddirect.co.uk');
      ga('send', 'pageview');

    </script>
{% endblock %}