{% extends 'general_public1.html' %}

{% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-others.css">
{% endblock %}

{% block middle_content %}
        <div class="container">
            <div class="row page-wrapper">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="header_about">About Us</div>
                    <div class="general_text2">Lambert Smoking Liquids is not a huge faceless
                        corporation, its a medium sized business run by three members of the Lambert Family. Were proud of what we do and were proud of what we produce, and thats why we put our name on it.</div>
                    <div class="header_about2">To sum us up....</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about_image text-center">
                        <img src="{{STATIC_URL }}public/flag.jpg" class="img-responsive"/>
                    </div>
                </div>
{#                <div class="custom-clearfix"></div>#}

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="color_header">Were Family Run</div>
                    <div class="general_text">Were a small family run business with a dedicated team of professionals.</div>
                    <div class="color_header">We put People First</div>
                    <div class="general_text">We treat people how we want to be treated, we trust, we educate and we inspire.</div>
                    <div class="color_header">We Guarantee Quality</div>
                    <div class="general_text">We source only the best ingredients to ensure our liquids are the best they can be.</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about_image text-center">
                        <img src="{{STATIC_URL }}public/man.jpg" class="img-responsive"/>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="color_header">Were UK Based</div>
                    <div class="general_text">Yorkshire to be exact, we create jobs in the UK, we pay tax in the UK and we invest in our local community.</div>
                    <div class="color_header">We Drive Change</div>
                    <div class="general_text">Through our own Nicotine Reduction Directive we demonstrate a better way to help people switch from cigarettes and eventually end their nicotine addiction completely. To learn more about the directive please<span> <a href="#">click here.</a></span></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="about_image text-center">
                        <img src="{{STATIC_URL }}public/woman.jpg" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


