{% extends 'general_public1.html' %}

{% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-others.css">
{% endblock %}

{% block middle_content %}
            <div class="container">
            <div class="row page-wrapper">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="header_about">Talk to Us...</div>
                    <div class="general_text">
                        If you have any questions or you want to share your thoughts about our service, please contact us here:
                    </div>
                    <form action="/contact_us/" method="post" id="public_contact_form">{% csrf_token %}
                        <div>
                            {% if show_delivery_message %}
                                <p id="delivery_message_text" style="color: green;text-align: center;">
                                    Your message has been sent, we will reply to you as soon as possible.</p>
                            {% endif %}
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right label-wrapper">
                                <label for="your-name" class="general_text ">Your Name: </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <input type="text" name="name" id="your-name" {% if captcha == 0 %}value="{{ name }}"{% endif %} onclick="$('#delivery_message_text').hide()" class="form-control input-lg">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right label-wrapper">
                                <label for="email-address" class="general_text ">Your email address: </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <input type="text" id="email" name="email" class="form-control input-lg" {% if captcha == 0 %} value="{{ email }}"{% endif %} onclick="$('#delivery_message_text').hide()">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right label-wrapper">
                                <label for="your-message" class="general_text">Your Message: </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" onclick="$('#delivery_message_text').hide()">
                                <textarea name="message" class="form-control" rows="6" id="your-message">{% if captcha == 0 %}{{ message }}{% endif %}</textarea>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right label-wrapper">
                                <label for="your-message" class="general_text" style="line-height: 30px">
                                    Please type here the code you see in the box to the right:
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" onclick="$('#delivery_message_text').hide()">
                                 {{ form }}
                            {% if captcha == 0 %}
                                <script type="text/javascript">
                                    $('#id_captcha_1').css('border-color','#ff0000');
                                </script>
                            {% endif %}
                            </div>
                        </div>

                        <div class=" form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
                                <button id="public_contact_submit" type="button" role="button" id="form-btn">
                                    <img src="/static/public/button_submit.jpg" class="img-responsive" alt="Button Image"/>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="contact_bg">
                        <div class="contact_header">Mailing Address</div>
                        <div class="contact_sub">Lambert Smoking Liquid<p></p>
                            Armstrong House<p></p>
                            First Avenue<p></p>
                            Robin Hood Airport<p></p>
                            Doncaster<p></p>
                            South Yorkshire<p></p>
                            DN9 3GA</div>
                    </div>
                </div>
            </div>
        </div>

    <style>
    #id_captcha_1{
        height:40px;
        border: 1px solid;
        border-radius:5px;
        width: 195px;
    }

    </style>
{% endblock %}


