<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper">
                            <img src="{{ STATIC_URL }}public/footer-logo.jpg" alt="" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">LSL<br>
                            Armstrong House<br>
                            First Avenue<br>
                            Robin Hood Airport<br>
                            Doncaster<br>
                            South Yorkshire<br>
                            DN9 3GA</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter">
                            <a href="https://twitter.com/SmokingLiquid">
                                <img src="{{ STATIC_URL }}public/twitter-foo.jpg" />
                            </a>
                        </div>
                        <div class="ftr_facebook">
                            <a href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157">
                                <img src="{{ STATIC_URL }}public/facebook-foo.jpg" />
                            </a>
                        </div>
                        <div class="ftr_mail">
                            <a href="/contact_us/">
                                <img src="{{ STATIC_URL }}public/mail-foo.jpg" />
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="hidden-xs"><a href="/about_us/">About Us</a></li>
                            <li class="hidden-xs"><a href="/accounts/login/?next=/usersadmin/">Login</a></li>
                            <li class="hidden-xs"><a href="/started/">Signup</a></li>
                            <li class="hidden-xs"><a href="/contact_us/">Contact Us</a></li>
                            <li><a href="" data-toggle="modal" data-target="#terms_dialog_for_link">T&C </a></li>
                            <li><a href="" data-toggle="modal" data-target="#privacy_dialog">Privacy </a></li>
                            <li><a href="" data-toggle="modal" data-target="#disclaimer_dialog">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 lambertsmokingliquid.co.uk. All Rights Reserved</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>


{% comment %}

<div id="footer">
            <div class="container">
                <div class="clear"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="col-lg-6 col-md-6 col-sm-6"><img src="{{ STATIC_URL }}public/footer-logo.jpg" alt=""></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="footer_addr">LSL<br>
                            Armstrong House<br>
                            First Avenue<br>
                            Robin Hood Airport<br>
                            Doncaster<br>
                            South Yorkshire<br>
                            DN9 3GA
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="ftr_socialbox">
                        <div class="clear"></div>
                        <div class="ftr_twitter"><a href="https://twitter.com/SmokingLiquid"><img src="{{ STATIC_URL }}public/twitter-foo.jpg"/></a></div>
                        <div class="ftr_facebook"><a href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157"><img src="{{ STATIC_URL }}public/facebook-foo.jpg"/></a></div>
                        <div class="ftr_mail"><a href="/contact_us/"><img src="{{ STATIC_URL }}public/mail-foo.jpg"/></a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about_us/">About Us</a></li>
                             <li><a href="/accounts/login/?next=/usersadmin/">Login</a></li>
                            <li><a href="/signup/">Signup</a></li>
                            <li><a href="/contact_us/">Contact Us</a></li>
                            <li><a style="cursor: pointer;" id="term_conditions_link">T&C</a></li>
                            <li><a style="cursor: pointer;" id="privacy_link">Privacy </a></li>
                            <li><a id="disclaimer_dialog_link" style="cursor: pointer;">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="ftr_copyrght">©2014 lambertsmokingliquid.co.uk. All Rights Reserved</div>
                </div>

                </div>
        </div>{% endcomment %}
