{% extends 'general_public2.html' %}

{% load i18n %}

{% block middle_content %}
     <h2 class="big-text text-center">Good News!</h2>
    <p class="small-text">It appears you already have an account with us.</p>
    <p class="small-text">We have emailed you your login details for you to enter below:</p>

    <form action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login-form">{% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            {% trans "Your username and password didn't match. Please try again." %}

        </div>
        {% endif %}
        <div class="form-group">
            <input type="email" placeholder="Email address" class="form-control input-lg" name="username" required style="margin-bottom: 10px;"/>
            <input type="password" placeholder="Password" class="form-control input-lg" name="password" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block green-btn">Proceed</button>
        </div>
        <p class="small">If that email doesn’t arrive within the next 3 minutes please <a href="/resend_credentials_by_email/">click here</a> and we will resend it.</p>
    </form>
{% endblock %}

