﻿{% extends 'general_public1.html' %}
{% load i18n %}



{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style-home.css">
{% endblock %}

{% block middle_content %}
    <!-- FIXED BAR -->

    <div class="fixed-bar">
        <h4 class="text-center text-banner">Get your first order <strong> FREE</strong>
            <a href="/started/" class="fixed-btn">
                <img src="{{ STATIC_URL }}public/banner-btn.png"/>
            </a>
        </h4>
    </div>

    <!-- /FIXED BAR -->
{##}
{#    <div class="fixed-bar2">#}
{#            <a id="scroll_btn" class="fixed-btn" style="float: right;cursor:pointer;">#}
{#                <img src="{{ STATIC_URL }}public/button_scroll_down.png">#}
{#            </a>#}
{#    </div>#}


{#    <div class="floating-btn hidden-xs hidden-md"><a  id="scroll_btn" class="trigger" style="cursor:pointer;"><img src="{{ STATIC_URL }}public/button_scroll_down.png"></a>#}
{#    </div>#}


    <div class="banner_img">
        <div class="banner">
            <a href="/started/"><img src="{{ STATIC_URL }}public/new_banner.jpg" width="100%" class="hidden-xs"/></a>
            <img src="{{ STATIC_URL }}public/banner-mobile.jpg" width="100%" class="visible-xs" />
{#            <div class="green-arrow hidden-xs">#}
{#                <img src="{{ STATIC_URL }}public/loar.gif" class="img-responsive" style="display: none"/>#}
{#            </div>#}

             <!-- GREEN BUTTON -->

{#            <a href="/signup" class="banner-btn hidden-xs">#}
{#                <img src="{{ STATIC_URL }}public/banner-btn.png" class="img-responsive"/>#}
{#            </a>#}

            <!-- /GREEN BUTTON -->
        </div>
    </div>
    <div class="clear"></div>
    <div class="con_button2 text-center visible-xs hidden-md hidden-lg hidden-sm">
            <a href="/started/"><img src="{{ STATIC_URL }}public/banner-btn.png" class="img-responsive"/></a>
        </div>
    <div class="clear"></div>

    <div class="container">
         <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                        <div class="section_box2 testim-border" style="margin-left: 20px;border-radius: 5px;box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.5);">
                            <div class="section_box2_img">
                                <img src="{{ STATIC_URL }}public/testim1.png" class="img-responsive"/>
                            </div>
                            <div class="section_box2_rght">
                                <div class="section_box2_desc">Received my free order within 2 days, better tasting than my old e-cigarettes...
                                    Many thanks.
                                </div>
                                <div class="section_box2_title">Sarah Shaw<p>London(UK)</p></div>
                                <div class="section_box2_star">
                                    <img src="{{ STATIC_URL }}public/star2.jpg"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                        <div class="section_box2 testim-border" style="margin-left: 20px;border-radius: 5px;box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.5);">
                            <div class="section_box2_img">
                                <img src="{{ STATIC_URL }}public/testim2.png" class="img-responsive"/>
                            </div>
                            <div class="section_box2_rght">
                                <div class="section_box2_desc">10 free bottles of smoking liquid arrived this morning as promised,
                                    sat here now enjoying my vape.
                                </div>
                                <div class="section_box2_title">Helen Barker<p>Manchester</p></div>
                                <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star.jpg"/></div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs" style="margin-bottom: 30px;">
                <div class="section_box2 testim-border" style="margin-left: 20px;border-radius: 5px;box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.5);">
                    <div class="section_box2_img">
                        <img src="{{ STATIC_URL }}public/testim3.png" class="img-responsive"/>
                    </div>
                    <div class="section_box2_rght">
                        <div class="section_box2_desc">I’ve used 7 of my 10 free bottles of e-liquid already, great tasting
                            and not over powering like some I've tried.
                        </div>
                        <div class="section_box2_title">Hanna Francs<p>Leeds</p></div>
                        <div class="section_box2_star">
                            <img src="{{ STATIC_URL }}public/star2.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
                <div class="section_box2 testim-border" style="margin-left: 20px;border-radius: 5px;box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.5);">
                    <div class="section_box2_img">
                        <img src="{{ STATIC_URL }}public/testim4.png" class="img-responsive"/>
                    </div>
                    <div class="section_box2_rght">
                        <div class="section_box2_desc">A quick email to thank you for my 10 free bottles of smoking liquid,
                            I call it vape juice but its all the same and going down well... thanks again.
                        </div>
                        <div class="section_box2_title">Scott Charlton<p>Birmingham(UK)</p></div>
                        <div class="section_box2_star">
                            <img src="{{ STATIC_URL }}public/star2.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="container">#}
{#        <div class="row hidden-xs">#}
{#            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                <div class="wel_title">Scroll Down to find out why its the Best...</div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">#}
{#                <div class="box box-equalized">#}
{#                    <div class="f_title">Normal Cigarettes</div>#}
{#                    <div class="f_img">#}
{#                        <img src="{{ STATIC_URL }}public/img1.png" class="img-responsive"/>#}
{#                    </div>#}
{#                    <br>#}
{##}
{#                    <div class="f_lcontent2">#}
{#                        <ul>#}
{#                            <li class="bads">Expensive</li>#}
{#                            <li class="bads">Smelly</li>#}
{#                            <li class="bads">Toxic</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="box_shadow">#}
{#                    <img src="{{ STATIC_URL }}public/box_shadow.png" class="custom-responsive"/>#}
{#                </div>#}
{#                <div class="thumbs-icon text-center">#}
{#                    <img src="{{ STATIC_URL }}public/grey.png" alt="thumb fancy icon"/>#}
{#                    <span class="box-bottom-text">30% still like this</span>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">#}
{#                <div class="box box-equalized">#}
{#                    <div class="f_title">Regular E-Cigarettes</div>#}
{#                    <div class="f_img">#}
{#                        <img src="{{ STATIC_URL }}public/img2.png" class="img-responsive"/>#}
{#                    </div>#}
{#                    <br>#}
{##}
{##}
{#                    <div class="f_lcontent2">#}
{#                        <ul>#}
{#                            <li class="bads">Still Expensive</li>#}
{#                             <li class="goods">Its Cleaner</li>#}
{#                            <li class="goods">Its Healthier</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="box_shadow">#}
{#                    <img src="{{ STATIC_URL }}public/box_shadow.png" class="custom-responsive"/>#}
{#                </div>#}
{#                <div class="thumbs-icon text-center">#}
{#                    <img src="{{ STATIC_URL }}public/grey.png">#}
{#                    <span class="box-bottom-text"> 12% now like this</span>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">#}
{#                <div class="box box-equalized">#}
{#                    <div class="f_title">Smoking Liquid</div>#}
{#                    <div class="f_img">#}
{#                        <img src="{{ STATIC_URL }}public/img3.png" class="img-responsive"/>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="f_lcontent2">#}
{#                        <ul>#}
{#                            <li class="goods">Its low in Price.</li>#}
{#                            <li class="goods">Its Cleaner.</li>#}
{#                            <li class="goods">Its Healthier.</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="box_shadow">#}
{#                    <img src="{{ STATIC_URL }}public/box_shadow.png" class="custom-responsive"/>#}
{#                </div>#}
{#                <div class="thumbs-icon text-center">#}
{#                    <img src="{{ STATIC_URL }}public/green.png">#}
{#                    <span class="box-bottom-text">58% like this best</span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.row -->#}
{#    </div>  <!-- /.container -->#}

    <div class="clear"></div>

    <div class="color_section3" >
        <div class="container" style="background-color: #236cb2 !important;">
            <div class="wel_title" style="color: white; margin-bottom: 50px;">6 Great Flavours…</div>
                 <div class="row equalize">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="gurrantee_box">
                                <div class="gurrantee_img"><img src="{{ STATIC_URL }}public/box_bg1edt.jpg"/></div>
                                <div class="gurrantee_title">
                                    <a href="#"><span style="color:#7ba720">Green Apple</span></a>

                                    <p>The perfect blend of yummy apples...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="gurrantee_box">
                                <div class="gurrantee_img">
                                    <img src="{{ STATIC_URL }}public/box_bg2edt.jpg"/>
                                </div>
                                <div class="gurrantee_title">
                                    <a href="#"><span style="color:#2f1b1d">Coffee</span></a>

                                    <p>Smells like a strong freshly brewed coffee...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="gurrantee_box">
                                <div class="gurrantee_img">
                                    <img src="{{ STATIC_URL }}public/box_bg3edt.jpg"/>
                                </div>
                                <div class="gurrantee_title">
                                    <a href="#"><span style="color:#d62226">Cola</span></a>

                                    <p>A classic fountain cola flavour...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row equalized">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="gurrantee_box">
                                <div class="gurrantee_img">
                                    <img src="{{ STATIC_URL }}public/box_bg4edt.jpg"/>
                                </div>
                                <div class="gurrantee_title">
                                    <a href="#"><span style="color:#d24541">Grapefruit</span></a>

                                    <p>A natural fruity grapefruit flavour...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="gurrantee_box">
                                <div class="gurrantee_img">
                                    <img src="{{ STATIC_URL }}public/box_bg5edt.jpg"/>
                                </div>
                                <div class="gurrantee_title">
                                    <a href="#"><span style="color:#2b87dc">Menthol</span></a>

                                    <p>A strong minty <br> menthol...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="gurrantee_box">
                                <div class="gurrantee_img">
                                    <img src="{{ STATIC_URL }}public/box_bg6edt.jpg"/>
                                </div>
                                <div class="gurrantee_title">
                                    <a href="#"><span style="color:#d53100">Orange</span></a>

                                    <p>Smells like freshly squeezed oranges...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% comment %}<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                    <div class="grnt_img">
                        <img src="{{ STATIC_URL }}public/gurrantee.jpg"/>
                    </div>
                </div>{% endcomment %}

            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>

{#    <div class="color_section">#}
{#        <div class="container">#}
{#            <div class="wel_title">2 Reasons Why you Should Switch…</div>#}
{#            <div class="row">#}
{#                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">#}
{#                    <div class="row blue-stick">#}
{#                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">#}
{#                            <img src="{{ STATIC_URL }}public/heart.png">#}
{#                        </div>#}
{#                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
{#                            <div class="fl_content">Be Healthier!<p>Lambert Smoking Liquid delivers the same nicotine as cigarettes#}
{#                        but without the cancer causing Tar.</p>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">#}
{#                    <div class="row blue-stick">#}
{#                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">#}
{#                            <img src="{{ STATIC_URL }}public/money.png">#}
{#                        </div>#}
{#                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
{#                            <div class="fl_content">Save Money!<p style="padding-bottom:20px;">Lambert smoking liquids will save you#}
{#                        money because we cut out the middle men.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /.container -->#}
{#    </div> <!-- /.color_section -->#}

    <div class="clear"></div>

{#    <div class="wel_top_title">#}
{#        <span>Get your First order 100%</span>#}
{#        <span class="red-word">FREE</span>#}
{#    </div>#}
    <div class="container">
        <div class="wel_title">Delivered Direct To You...</div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 big-balls">
                <div class="r_box1">
                    <div class="r_box1_content">You tell us which of our 6 great flavours you want.</div>
                    <div class="extra_rcontent">You have full control.</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 big-balls">
                <div class="r_box2">
                    <div class="r_box1_content">You tell us when you want your liquids delivered.</div>
                    <div class="extra_rcontent">Delivered 6 days a week.</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 big-balls">
                <div class="r_box3">
                    <div class="r_box1_content">You receive your chosen liquids by post.</div>
                    <div class="extra_rcontent">Quick & Easy!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{#    <div class="wel_top_title">#}
{#        <span>Get your First order 100%</span>#}
{#        <span class="red-word">FREE</span>#}
{#    </div>#}
    <div class="color_section2">
        <div class="container">
            <div class="wel_title123">
                <span style="color:#FFFFFF">Some More Valued Feedback ...</span>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section_box2">
                        <div class="section_box2_img">
                            <img src="{{ STATIC_URL }}public/post2.jpg" class="img-responsive"/>
                        </div>
                        <div class="section_box2_rght">
                            <div class="section_box2_desc">Switching from cigarettes to smoking liquid is saving me huge amounts
                    of money.
                            </div>
                            <div class="section_box2_title">Dominic Anderson<p>Essex UK</p></div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}public/star.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section_box2">
                        <div class="section_box2_img">
                            <img src="{{ STATIC_URL }}public/post3.jpg" class="img-responsive"/>
                        </div>
                        <div class="section_box2_rght">
                            <div class="section_box2_desc">Getting my liquid this way is so much more convenient and Im saving
                    money too.
                            </div>
                            <div class="section_box2_title">Amanda Reed<p>Cardiff Wales</p></div>
                            <div class="section_box2_star"><img src="{{ STATIC_URL }}public/star2.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section_box2">
                        <div class="section_box2_img">
                            <img src="{{ STATIC_URL }}public/col2.jpg" class="img-responsive"/>
                        </div>
                        <div class="section_box2_rght">
                            <div class="section_box2_desc">I’ve just switched to using Lambert smoking Liquid... Saving money
                    and loving the liquid.
                            </div>
                            <div class="section_box2_title">Sally Clarke<p>Aberdeen</p></div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}public/star2.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section_box2">
                        <div class="section_box2_img">
                            <img src="{{ STATIC_URL }}public/post4.jpg" class="img-responsive"/>
                        </div>
                        <div class="section_box2_rght">
                            <div class="section_box2_desc">Delighted with the liquids and the free smoking pipe works great,
                    thanks for everything.
                            </div>
                            <div class="section_box2_title">Robin Heart<p>London UK</p></div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}public/star.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="clear"></div>

            <div class="gapwel"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section_box2b">
                        <div class="embed-responsive">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/UVireAcEJ8k?rel=0"
                                    allowfullscreen="true"></iframe>
                        </div>
                        <div class="clear"></div>
                        <div class="section_box2_rghtb">
                            <div class="section_box2_desc">User Feedback</div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}public/star2a1.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="section_box2b">
                        <div class="embed-responsive">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/yvhH8_PJUrk?rel=0"
                                    allowfullscreen="true"></iframe>
                        </div>
                        <div class="clear"></div>
                        <div class="section_box2_rghtb">
                            <div class="section_box2_desc">User Feedback</div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}public/star2a.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="section_box2b">
                        <div class="embed-responsive">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/iTTx98zyUtM?rel=0"
                                    allowfullscreen="true"></iframe>
                        </div>
                        <div class="clear"></div>
                        <div class="section_box2_rghtb">
                            <div class="section_box2_desc">User Feedback</div>
                            <div class="section_box2_star">
                                <img src="{{ STATIC_URL }}public/star2a2.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
{#    <div class="wel_top_title">#}
{#        <span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;">Get your First order 100</span>#}
{##}
{#        <span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">  %</span>#}
{#        <span class="red-word" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">#}
{#            FREE</span>#}
{#    </div>#}

    <div class="clear"></div>

{#    <div class="color_section3">#}
{#        <div class="container">#}
{#            <div class="wel_title">6 Great Flavours…</div>#}
{##}
{##}
{#                 <div class="row equalize">#}
{#                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">#}
{#                            <div class="gurrantee_box">#}
{#                                <div class="gurrantee_img"><img src="{{ STATIC_URL }}public/box_bg1edt.jpg"/></div>#}
{#                                <div class="gurrantee_title">#}
{#                                    <a href="#"><span style="color:#7ba720">Green Apple</span></a>#}
{##}
{#                                    <p>The perfect blend of yummy apples...</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">#}
{#                            <div class="gurrantee_box">#}
{#                                <div class="gurrantee_img">#}
{#                                    <img src="{{ STATIC_URL }}public/box_bg2edt.jpg"/>#}
{#                                </div>#}
{#                                <div class="gurrantee_title">#}
{#                                    <a href="#"><span style="color:#2f1b1d">Coffee</span></a>#}
{##}
{#                                    <p>Smells like a strong freshly brewed coffee...</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">#}
{#                            <div class="gurrantee_box">#}
{#                                <div class="gurrantee_img">#}
{#                                    <img src="{{ STATIC_URL }}public/box_bg3edt.jpg"/>#}
{#                                </div>#}
{#                                <div class="gurrantee_title">#}
{#                                    <a href="#"><span style="color:#d62226">Cola</span></a>#}
{##}
{#                                    <p>A classic fountain cola flavour...</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.row -->#}
{#                    <div class="row equalized">#}
{#                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">#}
{#                            <div class="gurrantee_box">#}
{#                                <div class="gurrantee_img">#}
{#                                    <img src="{{ STATIC_URL }}public/box_bg4edt.jpg"/>#}
{#                                </div>#}
{#                                <div class="gurrantee_title">#}
{#                                    <a href="#"><span style="color:#d24541">Grapefruit</span></a>#}
{##}
{#                                    <p>A natural fruity grapefruit flavour...</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">#}
{#                            <div class="gurrantee_box">#}
{#                                <div class="gurrantee_img">#}
{#                                    <img src="{{ STATIC_URL }}public/box_bg5edt.jpg"/>#}
{#                                </div>#}
{#                                <div class="gurrantee_title">#}
{#                                    <a href="#"><span style="color:#2b87dc">Menthol</span></a>#}
{##}
{#                                    <p>A strong minty <br> menthol...</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">#}
{#                            <div class="gurrantee_box">#}
{#                                <div class="gurrantee_img">#}
{#                                    <img src="{{ STATIC_URL }}public/box_bg6edt.jpg"/>#}
{#                                </div>#}
{#                                <div class="gurrantee_title">#}
{#                                    <a href="#"><span style="color:#d53100">Orange</span></a>#}
{##}
{#                                    <p>Smells like freshly squeezed oranges...</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                {% comment %}<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">#}
{#                    <div class="grnt_img">#}
{#                        <img src="{{ STATIC_URL }}public/gurrantee.jpg"/>#}
{#                    </div>#}
{#                </div>{% endcomment %}#}
{##}
{#            <!-- /.row -->#}
{#        </div>#}
{#        <!-- /.container -->#}
{#    </div>#}

    <div class="clear"></div>

{#    <div class="wel_top_title">#}
{#        <span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">Get your First order 100% </span>#}
{#        <span class="red-word" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>#}
{#    </div>#}

    <div class="container">
        <div class="wel_title">Made in the UK…</div>
        <div class="row made_in_uk">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <p>
                    Lambert Smoking Liquid was originally made just for friends and family however as word
                spread and more and more people started to ask for it we quickly realised that we had a product that was
                far better than the ones sold on the high street.
                </p>

                <p>
                    As a family run business you can trust us to deliver what you need when you need it, and to help cope
                    with demand we have recently scaled our operation by invested in new premises, equipment and taking
                    on more staff.
                </p>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="made_in_ukimg text-center">
                    <img src="{{ STATIC_URL }}public/made_uk.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

{#    <div class="wel_top_title">#}
{#        <span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">Get your First order 100% </span>#}
{#        <span class="red-word" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>#}
{#    </div>#}

    <div class="clear"></div>

    <div class="color_section_colour">
        <div class="container">
            <div class="wel_title">
                <span style="color:#FFFFFF">Socially Approved…</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="social_box">
                    <a href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157"><img src="{{ STATIC_URL }}public/facebook.jpg" class="img-responsive"/></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="social_box">
                    <a href="https://twitter.com/SmokingLiquid"><img src="{{ STATIC_URL }}public/twitter.jpg" class="img-responsive"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

{#    <div class="wel_top_title">#}
{#        <span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">Get your First order 100% </span>#}
{#        <span class="red-word" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>#}
{#    </div>#}

    <div class="color_section4">
        <div class="container">
            <div class="wel_title">Its Risk Free...</div>

            <div class="saving_today_box1">
                <div class="bonus_left">
                    <img src="{{ STATIC_URL }}public/smk1.jpg" class="img-responsive"/>
                </div>
                <div class="bonus_right">
                    <div class="saving_box_content">1<sup>st</sup> Bonus</div>
                    <div class="bonus_desc">
                        Order today and we will also send you a
                        <span style="color:#FF0000"> FREE</span>
                        smoking pipe.
                        <p style="padding-top:45px;">
                            (worth £14.99)
                        </p>
                    </div>
                </div>
            </div>

             <div class="saving_today_box1_1">
                <div class="bonus_left">
                    <img src="{{ STATIC_URL }}public/smk2.jpg" class="img-responsive"/>
                </div>
                <div class="bonus_right">
                    <div class="saving_box_content">2<sup>nd</sup> Bonus</div>
                    <div class="bonus_desc">
                        Order today and we will also send you a replacement vaporizer for your
                        smoking pipe.
                        <p>
                            (worth £4.99)
                        </p>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="saving_today_box hidden-xs visible-sm visible-md visible-lg">
<div class="saving_box_left">
                    <div class="saving_box_content">
                        Get Started...
                        <div>
                            Over 3000 ex-smokers and vapers are currently using our liquid
                            as a healthier alternative to normal cigarettes.
                            <br>
                            <br>
                            </span>
                            Try them for yourself 100% risk <span style="color: #b30000; text-transform: uppercase; font-weight: bold">free</span>. </span>

                            <br>
                            <br>
                            <ul style="margin-left: 30px;">
                                <li> Let us send you 10 <span style="color: #b30000;">free</span> bottles today. </li>
                                <li> You choose the flavour you want to test.</li>
                                <li> <span style="color: #b30000;">PLUS...</span> Order today and we will pay for delivery.</li>
                            </ul>


                        </div>


                    </div>
                </div>
                <div class="saving_box_rimg text-center">
                    <img src="{{ STATIC_URL }}public/package.jpg" class="img-responsive"/>

                    <div class="clear"></div>
                    <!--<p>
                        <span style="color:#aa0000; font-weight:bold;">ITS RISK FREE…</span>
                        <br>
                        We only use Paypal so your details are 100% secure!
                    </p>-->
                </div>
                <div class="saving_box_left2"><div class="saving_box_content"><p style="line-height: 10px;"><span id="last-line" class="hidden-lg visible-sm visible-md"><span style="color:#aa0000; font-weight:bold;">
                                <br>
                                <br>
                                PLUS!
                            </span>
                            Order today and we will give you your first box for <span style="color: #b30000; text-transform: uppercase; font-size: bold">free</span>. </span></p></div></div>
            </div>

            <div class="saving_today_box visible-xs hidden-sm hidden-md hidden-lg">
                <div class="saving_box_left">
                    <div class="saving_box_content">
                        Get Started...
                        <div>
                            Over 3000 ex-smokers and vapers are currently using our liquid
as a healthier alternative to normal cigarettes.
                            <br>
                            <br>
                            </span>
                            Try them for yourself 100% risk <span style="color: #b30000; text-transform: uppercase; font-size: bold">free</span>. </span>

                             <br>
                            <br>
                            <ul style="margin-left: 30px;">
                                <li> Let us send you 10 <span style="color: #b30000;">free</span> bottles today. </li>
                                <li> You choose the flavour you want to test.</li>
                                <li> <span style="color: #b30000;">PLUS...</span> Order today and we will pay for delivery.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="saving_box_rimg text-center">
                    <img src="{{ STATIC_URL }}public/package.jpg" class="img-responsive"/>

                    <div class="clear"></div>
                    <!--<p>
                        <span style="color:#aa0000; font-weight:bold;">ITS RISK FREE…</span>
                        <br>
                        We only use Paypal so your details are 100% secure!
                    </p>-->
                </div>
            </div>

        </div>
        <!-- /.container -->

        <div class="clear"></div>

        <div class="con_button text-center">
            <a href="/started/"><img src="{{ STATIC_URL }}public/banner-btn.png" class="img-responsive"/></a>
        </div>

        <div class="clear"></div>
    </div>

{#    <div class="wel_top_title">#}
{#        <span style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;">Get your First box 100% </span>#}
{#        <span class="red-word" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:capitalize;">FREE</span>#}
{#    </div>#}

<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/19453/script.js');
</script>

<!-- START Exoclick Goal Tag | visit -->
{#<img width="1" height="1" src="http://main.exoclick.com/tag.php?goal=9987439b9205fa1e757a7d32cc51777f">#}
<!-- END Exoclick Goal Tag | visit -->


{% endblock %}


