{% extends 'general_public3.html' %}
{% load i18n %}


{% block middle_content %}
        <div class="form-wrapper step-wrapper">
        <div class="step-page">
        <h2 class="form-title text-center">Step 2 of 3</h2>
                <p class="small text-center" style="font-size: 12px;">Please select which flavours you would like:</p>
            <form action="/signup/input_address" method="post" class="step-form form-horizontal" id="form_input_flavour">{% csrf_token %}

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_1" class="control-label col-lg-5">Flavour 1:</label>
                            <div class="col-lg-7">
                                <select id="flavour_1" name="flavour_1" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                    {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_1 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_2" class="control-label col-lg-5">Flavour 2:</label>
                            <div class="col-lg-7">
                                <select id="flavour_2" name="flavour_2" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                    {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_2 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_3" class="control-label col-lg-5">Flavour 3:</label>
                            <div class="col-lg-7">
                                <select id="flavour_3" name="flavour_3" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                    {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_3 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_4" class="control-label col-lg-5">Flavour 4:</label>
                            <div class="col-lg-7">
                                <select id="flavour_4" name="flavour_4" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                     {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_4 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_5" class="control-label col-lg-5">Flavour 5:</label>
                            <div class="col-lg-7">
                                <select id="flavour_5" name="flavour_5" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                    {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_5 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_6" class="control-label col-lg-5">Flavour 6:</label>
                            <div class="col-lg-7">
                                <select id="flavour_6" name="flavour_6" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                    {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_6 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_7" class="control-label col-lg-5">Flavour 7:</label>
                            <div class="col-lg-7">
                                <select id="flavour_7" name="flavour_7" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                    {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_7 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_8" class="control-label col-lg-5">Flavour 8:</label>
                            <div class="col-lg-7">
                                <select id="flavour_8" name="flavour_8" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                   {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_8 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_9" class="control-label col-lg-5">Flavour 9:</label>
                            <div class="col-lg-7">
                                <select id="flavour_9" name="flavour_9" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                  {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_9 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="flavour_10" class="control-label col-lg-5">Flavour 10:</label>
                            <div class="col-lg-7">
                                <select id="flavour_10" name="flavour_10" class="form-control input-sm" onfocus="normal_border($(this))">
                                    <option value="0" selected>Select</option>
                                   {% for value in flavours %}
                                    <option value="{{ value.sld_ext_id }}"
                                            {% if value.sld_ext_id == flavours_user.flavour_10 %}
                                            selected="selected" {% endif %}>
                                        {{ value.item_name }} </option>
                                 {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="text-center">How often do you want your boxes delivered:</p>
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                <label class="checkbox-inline">
                                    <input type="radio" name="liquidsdelivered" id="liquidsdelivered1" value="monthly" checked="checked"/> Monthly
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                                <label class="checkbox-inline">
                                    <input type="radio" name="liquidsdelivered" id="liquidsdelivered2" value="weekly"/> Weekly
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center hidden-md hidden-lg hidden-sm visible-xs" style="margin-bottom: 10px;margin-top: 10px;">
                        <img src="{{ STATIC_URL }}public/newbox2.png" alt="" class="image-responsive"/>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="submit" class="btn btn-success btn-block green-btn">Proceed</button>
                    </div>
                </div> <!-- /row -->
            </form>
            <div class="promo-wrapper">
                <img src="{{ STATIC_URL }}public/newbox2.png" alt="" class="image-responsive visible-lg visible-md visible-sm hidden-xs "/>
            </div>
        </div>
    </div>



{% endblock %}

