{% extends 'general_public2.html' %}
{% load i18n%}

{% block middle_content %}
        <div class="form-wrapper step-wrapper">
        <div class="step-page">
         <h2 class="form-title text-center">Step 3 of 3</h2>
                <p class="small text-center" style="font-size: 12px;">Please tell us your address:</p>
            <form action="/signup/save_delivery_data" method="post" class="step-form form-horizontal" id="form_input_address">{% csrf_token %}

                <div class="form-group">
                    <label for="title" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Mr/Mrs/Miss:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <select class="form-control input-sm" id="title" name="title" onfocus="normal_border($(this))">
                            <option value="0" selected>Select</option>
                              {% for key, value in titles.iteritems %}
                            <option value="{{  key }}" {% if user_data.title == key %} selected="selected" {% endif %}>{{ value }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="first-name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">First Name:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="first-name" value="{{ user_data.first_name }}" name="firstname" required onfocus="normal_border($(this))"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="second-name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Second Name:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="second-name" value="{{ user_data.last_name }}" name="lastname" required onfocus="normal_border($(this))"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="house-number" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">House Building Name:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="house-number" value="{{ user_data.hbn }}" name="hbn" required onfocus="normal_border($(this))"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Street Address:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="address" value="{{ user_data.street_address }}" name="street_address" onfocus="normal_border($(this))" required/>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="address2" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Second line of address:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="address2" name="street_address_2line" value="{{ user_data.street_2_line }}" onfocus="normal_border($(this))" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Country:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <select class="form-control input-sm" id="country" name="country" onchange="get_towns_and_counties($('#county'),$(this))" onfocus="normal_border($(this))" >
                            <option selected="selected" value="0">Select</option>
                                {% for key, value in country.iteritems %}
                                    <option value="{{  key }}" {% if user_data.country == key %} selected="selected" {% endif %}  >{{ value }}</option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="county" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">County:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <select class="form-control input-sm" id="county" name="county" onfocus="normal_border($(this))">
                           <option selected="selected" value="0">Select</option>
                                {% for key, value in county.iteritems %}
                            <option value="{{  key }}" {% if user_data.county == key %} selected="selected" {% endif %} > {{ value }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="towncity" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Town/City:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="towncity" name="towncity" value="{{ user_data.town }}" onfocus="normal_border($(this))" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="post-code" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">Post Code:</label>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <input type="text" class="form-control input-sm" id="post-code" name="postcode" value="{{ user_data.postcode }}" onfocus="normal_border($(this))" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center hidden-md hidden-lg hidden-sm visible-xs" style="margin-bottom: 10px;margin-top: 10px;">
                            <img src="{{ STATIC_URL }}public/newbox2.png" alt="" class="image-responsive"/>
                     </div>
                 </div>
                <div class="form-group">
                    <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <button type="submit" class="btn btn-success btn-block green-btn">Proceed</button>
                    </div>
                </div>
            </form>
            <div class="promo-wrapper">
                <img src="{{ STATIC_URL }}public/newbox2.png" alt="" class="image-responsive visible-lg visible-md visible-sm hidden-xs"/>
            </div>
        </div>
    </div>
{% endblock %}

