{% extends "general_public2.html" %}

{% load i18n %}

{% block middle_content %}
    <div class="form-wrapper">
        <h3 class="form-title text-center">Log into your account</h3>
        <p class="small-text">Please ensure nobody is watching as you type your password :</p>
        <form action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login-form">{% csrf_token %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
               {% trans "We have sent you an email containing your details, please check your email." %}
            </div>

            <div class="form-group">
                <input type="email" placeholder="Email address" class="form-control input-lg" name="username" style="margin-bottom: 10px;;" required/>
                <input type="password" placeholder="Password" class="form-control input-lg" name="password" required/>
            </div>
            <div class="form-group text-left">
                <label>
                    <input type="checkbox" value="remember-me"/> Remember me
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block green-btn">Send</button>
            </div>
            <p class="small">
                ( Forgot your username or password? Please <a href="/password_recover">click here</a> ) .</p>
        </form>
   </div>
{% endblock %}

{% block footer %}

{% endblock %}
