{% extends 'general_public2.html' %}

{% load i18n %}

{% block middle_content %}
     <div class="form-wrapper">
        <h3 class="form-title text-center">Recover your Password</h3>
        <p class="small-text"> So we can help you recover your username and password please enter your email address:</p>
        <form action="/password_recover/" method="post" id="login-form">{% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
               {% trans "Your username and password didn't match. Please try again." %}
            </div>
            {% endif %}
            <div class="form-group">
                <input type="email" placeholder="Email address" class="form-control input-lg" name="email" id="email" style="margin-bottom: 10px;;" required/>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block green-btn">Send</button>
            </div>
            <p class="small">
                ( The email address you enter must already be associated with the account your trying to
                            recover
                            ).</p>
        </form>
   </div>
{% endblock %}

{% block footer %}
{% endblock %}