{% extends 'general_public2.html' %}

{% load i18n%}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}payment.js"></script>
{% endblock %}


{% block middle_content %}
    <!-- START ExoClick Goal Tag | buy -->
    <img width="1" height="1" src="http://main.exoclick.com/tag.php?goal=f76ac036826d99d8647e653d46bc965f">
    <!-- END ExoClick Goal Tag | buy -->

    <img id="5002061_cpa_testing" src="https://ads.trafficjunky.net/tj_ads_pt?a=5002061&member_id=195711&cb=[RANDOM_NUMBER]&cti=[TRANSACTION_UNIQ_ID]&ctv=[VALUE_OF_THE_TRANSACTION]&ctd=[TRANSACTION_DESCRIPTION]" width="1" height="1" border="0">

    <img src="http://ct.adxpansion.com/conversions.php?id=91906" width='1' height='1'/>

    <div class="good_news" style="padding:10px 0px; border:4px solid #CCCCCC;">
        	<div class="good_news_row" style="padding:10px 0px; margin-top:50px; text-align:center;">
                <span class="text_7">Payment successful!</span>
            </div>
        	<div class="good_news_row" style="padding:10px 0px; text-align:center;">
                <span class="text_1">You will shortly be redirected to your administration area.</span>
            </div>
        	<div class="good_news_row" style="padding:10px 0px; margin-bottom:50px; text-align:center;">
                <span class="text_1">If you are not redirected within 30 seconds please <a href="/usersadmin/">click here</a>.</span>
            </div>
    </div>	<!-- close good_news -->
    <iframe src="http://t.ads.pof.com/cc.aspx?a=f3t4e35oZGhlbGZkb2JobW9lbGdpWA==" style="display:none"></iframe>


{% endblock %}

