{% extends 'general_paypal.html' %}

{% load i18n%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="paypal-wrapper">
                <h2 class="jumbo-text">Thank you</h2>
                <h4 class="medium-text">Please hold whilst we redirect you to</h4>
                <div class="paypal-logo text-center">
                    <img src="{{ STATIC_URL }}paypal/paypal.jpg" alt="Paypal logo" class="img-responsive"/>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                        role="progressbar"
                        aria-value="30"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 30%">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="H9UFBUE743G7Q">
            <input type="hidden" name="custom" value="{{ custom_trans_id }}">
            <!--<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">-->
             <input type="image" src="http://www.smokingliquiddirect.co.uk/images/aaa.jpg" border="0" name="submit"
                   alt="Redirecting you to paypal" style="display: none">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            <input type="submit" value="sender" style="display: none">
     </form>
</div>

    <script type="text/javascript">
       $(document).ready(function(){
           $('.progress-bar').css('width','100%');
       });
        $('form').submit();
    </script>
{% endblock %}

