{% extends 'general_signup_new.html' %}
{#{% load signup_extras %}#}
{% load i18n %}

{% block middle_content %}
    
    <div class="container confirm-page">
      <div class="jumbo-title colored">
        <h1 class="text text-center">Never EVER run out&hellip;</h1>
      </div>
        <form id="big-form" action="/started3/" method="post">{% csrf_token %}
            <input type="hidden" name="step2">
      <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <div class="well" style="margin-bottom: 10px;">
            <div class="banner-text">
              <p>Never <strong class="blue">EVER</strong> run out&hellip; Let us deliver a box of liquids direct to you
                once a month and if you ever run low, we will send you some more for <span class="red">Free</span>.
              </p>
              <ul>
                <li>Never run out, we will send you more liquid for <span class="red">Free</span> whenever you need it.</li>
                <li>Swap and change flavours whenever you like.</li>
                <li>Plus&hellip; We will also send you another <span class="red">Free</span> Vaporizer every month.</li>
              </ul>
            </div>
            <div class="banner-text">
              <p>
                Our SMART Box contains 10 bottles of smoking liquids and normally costs just 29.99/month.
                Each bottle contain 10ml of 16mg smoking liquid which is enough for an average smoker.
              </p>
              <p>
                To show you just how good our liquids are we want to send you your first Box of 10 liquids
                for <span class="red">Free</span> along with a <span class="red">Free</span> smoking pipe and a <span class="red">Free</span>
                vaporizer.
              </p>
              <p class="text-center">Cancel you box at any time&hellip; its risk <span class="red">Free</span></p>
            </div>
          </div>
              <button type="submit" class="btn btn-success btn-lg btn-block big-btn hidden-xs">Click Here To Continue <i class="fa fa-chevron-right"></i></button>

        </div>



        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="facebook-contact"><a href=""><i class="fa fa-facebook-square"></i></a>
            <div class="text-left"><a href="">Facebook</a>
              <div class="small text-uppercase">Over 2000 likes and counting.</div>
            </div>
          </div>
          <div class="opinion-card well">
            <div class="photo"><img src="{{ STATIC_URL }}public/photo-1.JPG" class="responsive-image"></div>
            <div class="content">
              <div class="text">Its great to know that if I ever run out of liquid you guys will send me some more for free, a real bonus.</div>
              <div class="credentials">
                <div class="name">Arron Patson</div>
                <div class="place">Brighton</div>
                <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
              </div>
            </div>
          </div>
          <div class="twitter-contact"><a href=""><i class="fa fa-twitter-square"></i></a>
            <div class="text-left"><a href="">Twitter</a>
              <div class="small text-uppercase">Over 1000 followers to date.</div>
            </div>
          </div>
            <button type="submit" class="btn btn-success btn-lg btn-block big-btn visible-xs hidden-lg hidden-md hidden-sm" style="margin-top:100px;">Click Here To Continue <i class="fa fa-chevron-right"></i></button>
        </div>


           </form>
      </div>
    </div>


{% endblock middle_content %}