{% extends 'general_signup_new.html' %}
{#{% load signup_extras %}#}
{% load i18n %}

{% block middle_content %}

<div class="container">
      <div class="jumbo-title colored">
        <h1 class="text text-center">Lets Get Started&hellip;</h1>
      </div>
      <form method="post" id="big-form" class="form-horizontal" action="/started2/">{% csrf_token %}
        <div class="row flavours">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
            <div class="well2" style="padding: 15px 15px 15px 15px;">
              <div class="small-title">Please tell us which flavours you would like to receive:</div>
              <div class="form-group filters">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_1" required>
                    <option value="" selected>1st Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                  <select class="form-control input-shadowed" name="flavour_2" required>
                    <option value="" selected>2nd Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_3" required>
                    <option value="" selected>3rd Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_4" required>
                    <option value="" selected>4th Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_5" required>
                    <option value="" selected>5th Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_6" required>
                    <option value="" selected>6th Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_7" required>
                    <option value="" selected>7rd Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_8" required>
                    <option value="" selected>8th Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_9" required>
                    <option value="" selected>9th Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <select class="form-control input-shadowed" name="flavour_10" required>
                    <option value="" selected>10th Free bottles</option>
                    {% for value in flavours %}
                        <option value="{{ value.sld_ext_id }}">
                            {{ value.item_name }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <div class="bonus-image"><a href=""><img src="{{ STATIC_URL }}public/bonus-1.png" class="responsive-image"></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
            <div class="well">
              <div class="small-title">Now tell us who to deliver the FREE bottles to:</div>
              <div class="form-group">
                <label for="miss" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Mr/Mrs/Miss:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <select class="form-control input-shadowed" name="title" required>
                    <option value="" selected>Choose your Title</option>
                    {% for key, value in titles.iteritems %}
                            <option value="{{  key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">First Name:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="name" name="first_name" class="form-control input-shadowed" required>
                </div>
              </div>
              <div class="form-group">
                <label for="second-name" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Second Name:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="second-name" name="last_name" class="form-control input-shadowed" required>
                </div>
              </div>
              <div class="form-group">
                <label for="house-name" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">House Building Number:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="house-name" name="hbn" class="form-control input-shadowed" required>
                </div>
              </div>
              <div class="form-group">
                <label for="address" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Street Address:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="address" name="addr_ln1" class="form-control input-shadowed" required>
                </div>
              </div>
              <div class="form-group">
                <label for="address-1" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Second line of address:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="address-1" name="addr_ln2" class="form-control input-shadowed">
                </div>
              </div>
              <div class="form-group">
                <label for="country" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Country:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <select class="form-control input-shadowed" name="country" required  onchange="get_towns_and_counties($('#county'),$(this))">
                    <option value="" selected>Choose your Country</option>
                    {% for key, value in countries.iteritems %}
                            <option value="{{  key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="country" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">County:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <select class="form-control input-shadowed" name="county" id="county" required>
                    <option value="" selected>Choose your County</option>
                    {% for key, value in counties.iteritems %}
                            <option value="{{  key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="town" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Town/City:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="town" name="town" class="form-control input-shadowed" required>
                </div>
              </div>
              <div class="form-group">
                <label for="postcode" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Post Code:</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="text" id="postcode" name="postcode" class="form-control input-shadowed" required>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <div class="bonus-image"><a href=""><img src="{{ STATIC_URL }}public/bonus-2.png" class="responsive-image"></a></div>
          </div>
          <div class="hidden-xs col-sm-4 col-md-4 col-lg-3" style="margin-top: 50px;">
            <div class="bonus-image text-center"><a href=""><img src="{{ STATIC_URL }}public/badge.gif" class="img-responsive"></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
            <div class="well">
              <div class="colored-text text-center">Finally ... lets create your own admin area where you can confirm this order (you will need to verify your email before we can send your liquids):</div>
              <div class="form-group">
                <label for="login-email" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Login using this email</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="email" id="login-email" placeholder="Email Address" name="email" class="form-control input-shadowed" required onblur="register_prize()">
                </div>
              </div>
              <div class="form-group">
                <label for="login-pass" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">Login using this password</label>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <input type="password" id="login-pass" name="password" placeholder="Password" class="form-control input-shadowed" required>
                </div>
              </div>
            </div>
           <button type="submit" class="btn btn-success btn-lg btn-block big-btn">Click Here To Continue <i class="fa fa-chevron-right"></i></button>
          </div>
{#          <div class="hidden-xs col-sm-4 col-md-4 col-lg-3">#}
{#            <div class="bonus-image text-center"><a href=""><img src="{{ STATIC_URL }}public/badge.gif" class="img-responsive"></a></div>#}
{#          </div>#}
        </div>
      </form>
    </div>

{% endblock middle_content %}