{% extends 'general_signup_new.html' %}
{#{% load signup_extras %}#}
{% load i18n %}

{% block middle_content %}
    
    <div class="container confirm-page">
      <div class="jumbo-title colored">
        <h1 class="text text-center">Final Step&hellip;</h1>
      </div>
        <form action="/payment_proxy/" method="post">{% csrf_token %}
              <input type="hidden" name="step3">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
          <div class="well" style="margin-bottom: 10px;">
            <div class="banner-text">
              <p><strong class="blue">Age Check...</strong> Because our smoking liquids contain Nicotine we use PayPal to
                verify that everyone ordering is legally old enough to buy it, for that reason we need to process
                your <span class="red">Free</span> box as a regular order but don't worry, we will refund your payment
                back into your account so you get your first box of 10 liquids for <span class="red">Free</span> (along with your
                <span class="red">Free</span> smoking pipe and <span class="red">Free</span> vaporizer).
              </p>
                <p>
                    Just as promised.
                </p>
              <ul>
                <li>Secure Verification</li>
                <li>Payment <strong class="blue">refunded</strong> in full back into your account</li>
                <li>Your payment details safe guarded by Paypal</li>
              </ul>
            </div>
          </div>

              <button type="submit" class="btn btn-success btn-lg btn-block big-btn hidden-xs">Proceed to Age Check <i class="fa fa-chevron-right"></i></button>

        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="facebook-contact"><a href=""><i class="fa fa-facebook-square"></i></a>
            <div class="text-left"><a href="">Facebook</a>
              <div class="small text-uppercase">Over 2000 likes and counting!</div>
            </div>
          </div>
          <div class="opinion-card">
            <div class="photo"><img src="{{ STATIC_URL }}public/photo-2.jpg" class="responsive-image"></div>
            <div class="content">
              <div class="text">Already received my refund back into my Paypal account, many thanks to all involved.</div>
              <div class="credentials">
                <div class="name">Chris James</div>
                <div class="place">Liverpool</div>
                <div class="rate"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
              </div>
            </div>
          </div>
          <div class="paypal-logo"><a href=""><img src="{{ STATIC_URL }}public/paypal-logo.jpg" class="img-responsive"></a></div>
            <button type="submit" class="btn btn-success btn-lg btn-block big-btn visible-xs hidden-sm hidden-md hidden-lg">Proceed to Age Check <i class="fa fa-chevron-right"></i></button>
        </div>

          </form>
      </div>
    </div>
 {% endblock middle_content %}