<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-wrapper">
                        <img src="{{ STATIC_URL }}useradmins/footer-logo.jpg" alt="" class="img-responsive"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="footer_addr">LSL<br>
                        Armstrong House<br>
                        First Avenue<br>
                        Robin Hood Airport<br>
                        Doncaster<br>
                        South Yorkshire<br>
                        DN9 3GA</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 .footer-info text-center">
                <div class="ftr_socialbox">
                    <div class="clear"></div>
                    <div class="ftr_twitter">
                        <a href="https://twitter.com/SmokingLiquid">
                            <img src="{{ STATIC_URL }}useradmins/twitter-foo.jpg" />
                        </a>
                    </div>
                    <div class="ftr_facebook">
                        <a href="https://www.facebook.com/pages/Smoking-Liquid-Direct/208574059328157">
                            <img src="{{ STATIC_URL }}useradmins/facebook-foo.jpg" />
                        </a></div>
                    <div class="ftr_mail">
                        <a href="/usersadmin/contactus/">
                            <img src="{{ STATIC_URL }}useradmins/mail-foo.jpg" />
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="ftr_menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/usersadmin/yoursubscription">Your Order </a></li>
                        <li><a href="/usersadmin/yourdetails">Your details</a></li>
                        <li><a class="hidden-xs" href="/usersadmin/contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="ftr_copyrght">© 2014 Smoking liquid direct - All rights reserved</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
