<header id="header">
    <div class="container">
        <div class="logo1"><a href="/"><img src="{{ STATIC_URL }}useradmins/logo.png" class="hidden-xs"/></a></div>
        <a href="#" role="menu-btn" class="menu-btn index-menu-btn pull-right" title="">
            <span class="glyphicon glyphicon-menu-hamburger visible-xs-inline-block"></span>
        </a>
        <div class="menu">
            <ul>
                <li><a href="/usersadmin">Home</a></li>
                <li><a href="/usersadmin/yoursubscription">Your Order</a></li>
                <li><a href="/usersadmin/yourdetails">Your Details</a></li>
                <li><a href="/usersadmin/contactus">Contact Us</a></li>
                <li class="visible-xs hidden-sm hidden-md hidden-lg"><a href="/accounts/logout/">Log out</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="contact_topbox">
{#            <div class="contact_welcome">Welcome {{ user_name }}</div>#}
            <div class="contact_log hidden-xs visible-sm visible-md visible-lg"><a href="/accounts/logout/">Log Out</a></div>
        </div>
    </div>
</header>