{% extends 'usersadmin_general.html' %}

{% block facebook_meta %}
    <meta property="og:title" content="Switch from Cigarettes to Smoking Liquids and Save 92%" />
    <meta property="og:site_name" content="Lambert Smoking Liquid"/>
    <meta property="og:url" content="{{ fb_data.absolute_url }}"/>
    <meta property="og:description" content="High quality Smoking Liquids made in the UK, same as e-cigarettes but far less expensive... Get your first order 100% FREE!"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="{{ fb_data.fb_app_id }}"/>
    <meta property="og:image" content="{{ fb_data.fb_app_dialog_img }}"/>
{% endblock %}


{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}usersadmin_home.js"></script>
{% endblock %}

{% block main_content %}
<div class=" clear"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="userad_heading">ANOTHER FREE VAPORIZER...</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 userad_wrapper">
            <div>
                <img src="/static/useradmins/vaper.jpg" class="img-responsive hidden-lg hidden-md hidden-sm visible-xs"></div>
            <div class="userad_gen">
                Recommend us to your friends via FACEBOOK, Twitter, or email and every time someone follows your link and
            signs up with us we will send you another <span>FREE</span> smoking Vaporizer <span>(worth £4.99 )</span>
            </div>
            <div>
                <img src="/static/useradmins/vaper.jpg" class="img-responsive hidden-xs visible-sm visible-md visible-lg"></div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <div class="user_img">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ fb_data.absolute_url }}" target="_blank" class="default_popup" >{% comment %}data-toggle="modal" data-target="#fb-content">{% endcomment %}
                    <img src="/static/useradmins/con_fb.jpg" class="img-responsive">
                </a>
            </div>

            <div class="user_img">
                <a id="twitter_popup2" href="#">
                    <img src="/static/useradmins/con_twit.jpg" class="img-responsive">
                </a>
            </div>

            <div class="user_img">
                <a href="" class="default_popup" data-toggle="modal" data-target="#mail-form" onclick="fill_email_data()" >
                    <img src="/static/useradmins/con_mail.jpg" class="img-responsive">
                </a>
            </div>

        </div>
    </div>

    <div class=" clear"></div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="usead_bottombox">
                <div class="userad_bbfirst">TELL A FRIEND...THEIR FIRST ORDER IS FREE.</div><br>
{#                <div class="userad_bbsecond">&nbsp;</div>#}
                <div class="userad_bbthird">Do you have any friends that smoke, send them a link today!</div>
            </div>
        </div>
    </div>
</div>
<div class=" clear"></div>

<div class="modal fade" id="mail-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <img src="{{ STATIC_URL }}useradmins/pop_mail.jpg">
                    Share by email.
                </h4>
            </div>
            <div class="modal-body">
                <form id="email_form" action="/socialinvites/email_popup" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="address">To:</label>
                        <input type="email" id="to" name="to" autocomplete="on"
                                   onkeyup="validate_email()" onblur="validate_email()" onchange="validate_email()"
                                                        placeholder="Enter Visitors Email"
                               class="form-control input-lg" >
                    </div>
                    <div class="form-group">
                        <label for="msg-subject">Subject:</label>
                        <input type="text" id="subject" name="subject" value="{{ subject }}"
                                                        placeholder="From test - f name test- s name"
                               class="form-control input-lg">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message" name="message" rows="4"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" id="sender" disabled class="btn-lg btn btn-warning text-uppercase">submit</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}