{% extends 'usersadmin_general.html' %}

{% block main_content %}
<div class="container big-top-padding">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="main-title text-uppercase">Your Details</h2>
        </div>
    </div>

    <form method="post" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
    <div class="row">

        <input name="section" value="main" hidden="hidden">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="your-email" class="text-uppercase top-label">Email ID</label>
                    <input name="email" type="text" class="form-control input-lg" placeholder="lambecli@aol.com"
                            value="{{ private_address.email }}">
            </div>
            <div class="form-group">
                <label for="your-password" class="text-uppercase top-label">Password</label>
                <input name="password" type="password" class="form-control input-lg" placeholder="">
            </div>
            <div class="form-group">
                <label for="your-password" class="text-uppercase top-label">Retype Password</label>
                <input name="re-password" type="password" class="form-control input-lg" placeholder="">
            </div>
            <h4 style="color: red;" hidden="hidden" id="password_message_error">Password do not match, please try
            again.</h4>
            {% if show_message %}
                <h4 style="color: green;" id="password_message_success">Password changed successfully.</h4>
            {% endif %}
        </div>




        <div class="hidden-xs hidden-sm col-md-6 col-lg-6"></div>

    </div>

    <div class="col-md-4">
        <input type="submit" value="Edit" class="button1">
    </div>
    </form>
    <div class="clear"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form method="post" class="page-form your-details-form" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
                <input name="section" value="a" hidden="hidden">
                <div class="form-group form-title">
                    <h3 class="text-uppercase">your details</h3>
                </div>
            <div class="form-group">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="person-title" class="text-uppercase">MR/MRS/MISS</label>
                        <select class="person-title form-control" name="your_title" id="your_title">
                            {% for title in titles %}
                                <option value="{{ title.titleid }}"
                                        {% if title.titleid == private_address.your_title %}selected="selected"{% endif %}>
                                    {{ title.title }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="first-name" class="text-uppercase">First Name</label>
                    <input type="text" class="form-control" name="your_firstname" value="{{ private_address.your_firstname }}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="second-name" class="text-uppercase">Second Name</label>
                    <input type="text" class="form-control" name="your_secondname" value="{{ private_address.your_secondname }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="house-number" class="text-uppercase">HOUSE BUILDING NUMBER</label>
                        <input name="your_hbn" type="text" class="form-control" value="{{ private_address.your_hbn }}">
                    </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="street-address" class="text-uppercase">STREET ADDRESS</label>
                    <input name="your_streetaddress" type="text" class="form-control"
                                value="{{ private_address.your_streetaddress }}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="street-address" class="text-uppercase">SECOND LINE OF ADDRESS</label>
                    <input name="your_secondlineaddress" type="text" class="form-control"
                                value="{{ private_address.your_secondlineaddress }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="city-name" class="text-uppercase">Town / City</label>
                    <input type="text" class="form-control" name="your_towncity" value="{{ private_address.your_towncity }}">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="county-name" class="text-uppercase">County</label>
                    <select class="form-control" name="your_county" id="your_county">
                        {% for your_county in your_counties %}
                            <option value="{{ your_county.codeid }}"
                                    {% if your_county.codeid == private_address.your_county %}selected="selected"{% endif %}>
                                {{ your_county.code_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="country-name" class="text-uppercase">Country</label>
                    <select class="form-control" name="your_country" id="your_country"
                            onchange="get_towns_and_counties($('#your_county'), $(this))">
                        {% for country in countries %}
                            <option value="{{ country.codeid }}"
                                    {% if country.codeid == private_address.your_country %}selected="selected"{% endif %}>
                                {{ country.code_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label for="postcode" class="text-uppercase">POSTCODE</label>
                    <input type="text" class="form-control" name="your_postcode" value="{{ private_address.your_postcode }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" value="Edit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form method="post" class="page-form delivery-form" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
                <input name="section" value="b" hidden="hidden">
                <div class="form-group form-title">
                    <h3 class="text-uppercase">DElivery Address</h3>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="person-title2" class="text-uppercase">MR/MRS/MISS</label>
                       <select class="person-title form-control" name="delivery_title" id="delivery_title">
                            {% for title in titles %}
                                <option value="{{ title.titleid }}"
                                        {% if title.titleid == delivery_address.delivery_title %}selected="selected"{% endif %}>
                                    {{ title.title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="first-name2" class="text-uppercase">FIRST NAME</label>
                        <input type="text" class="form-control" name="delivery_firstname" value="{{ delivery_address.delivery_firstname }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="second-name" class="text-uppercase">SECOND NAME</label>
                        <input type="text" class="form-control" name="delivery_secondname" value="{{ delivery_address.delivery_secondname }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="house-number2" class="text-uppercase">HOUSE BUILDING NUMBER</label>
                        <input type="text" class="form-control"name="delivery_hbn" value="{{ delivery_address.delivery_hbn }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="street-address2" class="text-uppercase">STREET ADDRESS</label>
                        <input type="text" class="form-control" name="delivery_streetaddress" value="{{ delivery_address.delivery_streetaddress }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="street-address2" class="text-uppercase">SECOND LINE OF ADDRESS</label>
                        <input type="text" class="form-control" name="delivery_secondlineaddress" value="{{ delivery_address.delivery_secondlineaddress }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="city-name2" class="text-uppercase">TOWN/CITY</label>
                        <input type="text" class="form-control" name="delivery_towncity" value="{{ delivery_address.delivery_towncity }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="county-name2" class="text-uppercase">COUNTY</label>
                        <select class="form-control" name="delivery_county" id="delivery_county">
                            {% for delivery_county in delivery_counties %}
                                <option value="{{ delivery_county.codeid }}"
                                        {% if delivery_county.codeid == delivery_address.delivery_county %}selected="selected"{% endif %}>
                                    {{ delivery_county.code_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="country-name2" class="text-uppercase">Country</label>
                        <select class="form-control" name="delivery_country" id="delivery_country"
                                onchange="get_towns_and_counties($('#delivery_county'),$(this))">
                            {% for country in countries %}
                                <option value="{{ country.codeid }}"
                                        {% if country.codeid == delivery_address.delivery_country %}selected="selected"{% endif %}>
                                    {{ country.code_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="postcode2" class="text-uppercase">postcode</label>
                        <input type="text" class="form-control" name="delivery_postcode" value="{{ delivery_address.delivery_postcode }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-danger">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form method="post" class="page-form billing-form" action="/usersadmin/save_your_details/" id="submit_details">{% csrf_token %}
                <input name="section" value="c" hidden="hidden">
                <div class="form-group form-title">
                        <h3 class="text-uppercase">Billing Address</h3>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="person-title3" class="text-uppercase">mr/mrs/miss</label>
                        <select class="form-control" name="billing_title" id="billing_title">
                            {% for title in titles %}
                                <option value="{{ title.titleid }}"
                                        {% if title.titleid == billing_address.billing_title %}selected="selected"{% endif %}>{{ title.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="first-name3" class="text-uppercase">First Name</label>
                        <input type="text" class="form-control" name="billing_firstname" value="{{ billing_address.billing_firstname }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="second-name3" class="text-uppercase">Second Name</label>
                        <input type="text" class="form-control" name="billing_secondname" value="{{ billing_address.billing_secondname }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="house-number3" class="text-uppercase">house building number</label>
                        <input type="text" class="form-control" name="billing_hbn" value="{{ billing_address.billing_hbn }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="street-address3" class="text-uppercase">STREET ADDRESS</label>
                        <input type="text" class="form-control" name="billing_streetaddress" value="{{ billing_address.billing_streetaddress }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="street-address3" class="text-uppercase">SECOND LINE OF ADDRESS</label>
                        <input type="text" class="form-control" name="billing_secondlineaddress" value="{{ billing_address.billing_secondlineaddress }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="city-name3" class="text-uppercase">TOWN/CITY</label>
                        <input type="text" class="form-control" name="billing_towncity" value="{{ billing_address.billing_towncity }}">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="county-name3" class="text-uppercase">County</label>
                        <select class="form-control" name="billing_county" id="billing_county">
                            {% for billing_county in billing_counties %}
                                <option value="{{ billing_county.codeid }}"
                                        {% if billing_county.codeid == billing_address.billing_county %}selected="selected"{% endif %}>{{ billing_county.code_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="country-name3" class="text-uppercase">Country</label>
                        <select class="form-control" name="billing_country" id="billing_country"
                                onchange="get_towns_and_counties($('#billing_county'),$(this))">
                            {% for country in countries %}
                                <option value="{{ country.codeid }}"
                                        {% if country.codeid == billing_address.billing_country %}selected="selected"{% endif %}>{{ country.code_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="postcode3" class="text-uppercase">POSTCODE</label>
                        <input type="text" class="form-control" name="billing_postcode" value="{{ billing_address.billing_postcode }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-default">Edit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{#    </form>#}
    <div class="clear"></div>
    </div>
    <div class=" clear"></div>
</div>
{% endblock %}