{% extends 'usersadmin_general.html' %}
{% block main_content %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contact_heading">Contact Us</div>
        </div>
    </div>

    <div class="row">
        <div class=" col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <form action="/usersadmin/save_conact_us/" method="post" id="contactus">{% csrf_token %}
                {% if show_delivery_message %} <p id="delivery_message_text" style="color: green">Your message has been sent, we will reply to you as soon as possible.</p> {% endif %}
                <div class="contact_label">Subject</div>
                <div>
                    <input name="subject" id="subject" type="text" onclick="$('#delivery_message_text').hide()" class="contact_inbox1 form-control">
                </div>
                <div class="contact_label">Message</div>
                <div>
                    <textarea name="body" id="body" cols="" rows="8" class="contact_inbox2 form-control"></textarea>
                </div>
                <div class="contact_send">
                    <input id="submit_contactus" type="image" src="{{ STATIC_URL }}useradmins/contact_sent.jpg" alt="Submit">
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
            <div class="contact_right">
                <div class="contact_right">
                    <img src="{{ STATIC_URL }}useradmins/contact_bnner.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}