body
{
    margin-top:45px;
	font-family:verdana;
	background-color:#fff;
}
*{
margin:0;
padding:0;
}
.clear{
clear:both;
}

a
{

	color:#000000;
	text-decoration:none;
	/*font-weight:bold;*/	
    font-size: 19px;
    list-style: none outside none;
}
@font-face
{
font-family: myFirstFont;
src: url(/static/OpenSans-Light.ttf);
}
.container{ width:900px; height:600px; margin:0 auto; border:1px solid #999999; border-radius:5px; padding-top:20px; margin-bottom:50px; box-shadow: 1px 1px 15px #888888;  }
.thank_you{ font-family: myFirstFont; font-size:87px; color:#0085d1; text-align:center; margin-top:40px;}
.thank_you p{ font-family: myFirstFont; font-size:36px; color:#2c2c2c; text-align:center; margin-top:20px;}
.paypal_img{ text-align:center; margin-top:40px;}
.paypal_procs{ text-align:center; margin-top:80px;}





#progressbar {
    width: 100%;
    height: 15px;
    background-color: #eee;
    padding: 2px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}

#progress {
    background: #A1C969; /*-- Color of the bar --*/
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

#pbaranim {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress { 
    from { }

    to { width: 36% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 36% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 36% }
}

@keyframes progress { 
    from { }

    to { width: 36% }
}