@font-face {
  font-family: "Verdana-Regular";
  src: url('/static/verdana.eot?1429455238');
  src: url('/static/verdana.eot?&1429455238#iefix') format('embedded-opentype'), url('/static/verdana.otf?1429455164') format('opentype'), url('/static/verdana.woff?1429455238') format('woff'), url('/static/verdana.svg?1429455238') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "Arial-Regular";
  src: url('/static/arial.eot?1442940800');
  src: url('/static/arial.eot?&1442940800#iefix') format('embedded-opentype'), url('/static/arial.otf?1442940926') format('opentype'), url('/static/arial.woff?1442940800') format('woff'), url('/static/arial.svg?1442940800') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "Arial-Narrow";
  src: url('/static/ARIALN.eot?1442942696');
  src: url('/static/ARIALN.eot?&1442942696#iefix') format('embedded-opentype'), url('/static/ARIALN.otf?1442942688') format('opentype'), url('/static/ARIALN.woff?1442942696') format('woff'), url('/static/ARIALN.svg?1442942696') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url('/static/MyriadPro-Regular.eot?1442940958');
  src: url('/static/MyriadPro-Regular.eot?&1442940958#iefix') format('embedded-opentype'), url('/static/MyriadPro-Regular.otf?1188187722') format('opentype'), url('/static/MyriadPro-Regular.woff?1442940956') format('woff'), url('/static/MyriadPro-Regular.svg?1442940958') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "ITCAvantGardeStd-Bk";
  src: url('/static/ITCAvantGardeStd-Bk.eot?1442945474');
  src: url('/static/ITCAvantGardeStd-Bk.eot?&1442945474#iefix') format('embedded-opentype'), url('/static/ITCAvantGardeStd-Bk.otf?1187741624') format('opentype'), url('/static/ITCAvantGardeStd-Bk.woff?1442945474') format('woff'), url('/static/ITCAvantGardeStd-Bk.svg?1442945474') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "ITCAvantGardeStd-BoldCn";
  src: url('/static/ITCAvantGardeStd-BoldCn.eot?1442940956');
  src: url('/static/ITCAvantGardeStd-BoldCn.eot?&1442940956#iefix') format('embedded-opentype'), url('/static/ITCAvantGardeStd-BoldCn.otf?1187741624') format('opentype'), url('/static/ITCAvantGardeStd-BoldCn.woff?1442940956') format('woff'), url('/static/ITCAvantGardeStd-BoldCn.svg?1442940956') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "ITCAvantGardeStd-DemiCn";
  src: url('/static/ITCAvantGardeStd-DemiCn.eot?1442940956');
  src: url('/static/ITCAvantGardeStd-DemiCn.eot?&1442940956#iefix') format('embedded-opentype'), url('/static/ITCAvantGardeStd-DemiCn.otf?1187741624') format('opentype'), url('/static/ITCAvantGardeStd-DemiCn.woff?1442940956') format('woff'), url('/static/ITCAvantGardeStd-DemiCn.svg?1442940956') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url('/static/OpenSans-Light.eot?1432353222');
  src: url('/static/OpenSans-Light.eot?&1432353222#iefix') format('embedded-opentype'), url('/static/OpenSans-Light.otf?1432353216') format('opentype'), url('/static/OpenSans-Light.woff?1432353222') format('woff'), url('/static/OpenSans-Light.svg?1432353222') format('svg');
  font-weight: normal;
}

.well {
  position: relative;
  float: left;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset;
}

.well2 {
  position: relative;
  float: left;
  width: 100%;
  height: 385px;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset;
}

@media  screen and (max-width: 390px) {
  .well2 {
    position: relative;
    float: left;
    width: 100%;
    height: 660px;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset;
  }
}


@media  screen and (min-width: 400px) and (max-width: 750px) {
  .well2 {
    position: relative;
    float: left;
    width: 100%;
    height: 740px;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset;
  }
}

.small-title {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-family: Arial-Narrow, sans-serif;
  font-size: 1.625em;
  color: #2a950e;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.img-responsive {
  display: inline-block;
}

.form-control.input-shadowed {
  font-family: ITCAvantGardeStd-DemiCn, sans-serif;
  font-size: 1.125em;
  color: black;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.form-control.input-shadowed:focus {
  border-color: #2a950e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(42, 149, 14, 0.6);
}

.form-horizontal .control-label {
  font-family: ITCAvantGardeStd-Bk;
  font-size: 1.125em;
}
@media screen and (max-width: 991px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}

#big-form {
  padding-bottom: 30px;
}

.big-btn {
  font-family: ITCAvantGardeStd-DemiCn, sans-serif;
  font-size: 2.25em;
  font-weight: normal;
  text-shadow: 1px 1px 2px #2a950e;
  border: 2px solid #2a950e;
  background-color: #2a950e; /*#51b134;*/
  -webkit-transition: all linear 0.1s;
          transition: all linear 0.1s;
}
@media screen and (max-width: 390px) {
  .big-btn {
    font-size: 6vw;
  }
}
.big-btn:hover, .big-btn:focus, .big-btn:active {
  background-color: #2a950e;
}

.top-dark-bar {
  position: relative;
  float: left;
  width: 100%;
  height: 20px;
  background: #373737;
}

.jumbo-title {
  position: relative;
  float: left;
  width: 100%;
  padding: 0 15px;
  color: black;
}
.jumbo-title.colored {
  margin: 20px 0;
  color: white;
  background-color: #0473aa;
}
.jumbo-title.colored h1 {
  margin: 5px 0 0;
}
.jumbo-title h1 {
  font-family: Arial-Narrow, sans-serif;
  font-size: 3em;
  font-weight: bolder;
}
@media screen and (max-width: 540px) {
  .jumbo-title h1 {
    font-size: 2em;
  }
}

.flavours {
  margin-bottom: 20px;
}

.filters {
  padding: 60px 0;
}
@media screen and (max-width: 991px) {
  .filters {
    padding-bottom: 0;
  }
}
.filters > div {
  margin-bottom: 20px;
}

.marked-text {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
  color: white;
  background: #0473aa;
}
.marked-text p {
  margin: 0;
  font-family: Arial-Regular, sans-serif;
  font-size: 1.625em;
}
@media screen and (max-width: 520px) {
  .marked-text p {
    font-size: 1.125em;
  }
}

.colored-text {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 80px;
  border-radius: 5px;
  background-color: #63b1d9;
  font-family: Arial-Narrow, sans-serif;
  font-size: 2em;
  line-height: 1;
  color: white;
}
@media screen and (max-width: 520px) {
  .colored-text {
    padding: 5px 10px;
    font-size: 1.25em;
  }
}

.bonus-image {
  float: left;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .bonus-image {
    margin: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .bonus-image img {
    max-width: 100%;
    width: auto;
  }
}

.confirm-page {
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .confirm-page .big-btn {
    margin-bottom: 20px;
  }
}

.banner-text {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  font-family: ITCAvantGardeStd-Bk;
  font-size: 1.25em;
  background-color: white;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .banner-text {
    font-size: 1.125em;
    text-align: justify;
  }
}
.banner-text ul {
  margin: 20px 0 20px 40px;
  list-style-image: url('/static/public/list-icon.png?1442863666');
}
.banner-text ul li {
  margin-bottom: 10px;
}
@media screen and (max-width: 520px) {
  .banner-text ul {
    margin: 20px 0;
    padding-left: 20px;
  }
}
.banner-text strong {
  font-weight: bolder;
}
.banner-text .red {
  color: #cd0f0f;
}
.banner-text .blue {
  color: #0473aa;
}
.banner-text .text-center {
  font-size: 1.25em;
}

.facebook-contact {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.facebook-contact a {
  color: #3b5998;
}
.facebook-contact .fa {
  font-size: 5em;
}
.facebook-contact .text-left {
  padding-left: 10px;
}
.facebook-contact .text-left a {
  font-family: Verdana-Regular, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 2px;
  line-height: 1;
}
.facebook-contact .text-left a:hover {
  text-decoration: none;
}
.facebook-contact .text-left .small {
  font-family: OpenSans-Light, sans-serif;
  font-size: 1.25em;
  line-height: 1;
  margin-top: 5px;
  color: #3b5998;
}
@media screen and (max-width: 490px) {
  .facebook-contact .text-left .small {
    font-size: 0.875em;
  }
}

.twitter-contact {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.twitter-contact a {
  color: #00aced;
}
.twitter-contact .fa {
  font-size: 5em;
}
.twitter-contact .text-left {
  padding-left: 10px;
}
.twitter-contact .text-left a {
  font-family: Verdana-Regular, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 2px;
  line-height: 1;
}
.twitter-contact .text-left a:hover {
  text-decoration: none;
}
.twitter-contact .text-left .small {
  font-family: OpenSans-Light, sans-serif;
  font-size: 1.25em;
  margin-top: 5px;
  line-height: 1;
  color: #00aced;
}
@media screen and (max-width: 490px) {
  .twitter-contact .text-left .small {
    font-size: 0.875em;
  }
}

.opinion-card {
  float: left;
  width: 100%;
  margin: 20px 0;
  padding: 20px 10px;
  border: 1px solid #b7b7b7;
}
.opinion-card > div {
  float: left;
}
.opinion-card .photo {
  width: 40%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .opinion-card .photo {
    width: 100%;
    margin-bottom: 15px;
  }
}
.opinion-card .content {
  width: 60%;
  padding: 0 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .opinion-card .content {
    width: 100%;
  }
}
.opinion-card .text {
  margin-bottom: 16px;
  font-family: ITCAvantGardeStd-Bk;
  font-size: 0.875em;
  font-style: italic;
}
.opinion-card .name {
  font-family: Arial-Regular, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.opinion-card .fa {
  color: #ee8900;
}

.paypal-logo {
  float: left;
  width: 100%;
  margin-top: 20px;
}

/*# sourceMappingURL=styles.css.map */