
@font-face {
    font-family: myfont1;
    src: url(OpenSans-Light.ttf);
}
@font-face
{
font-family: mygoticbold;
src: url(GOTHICB.TTF);
}
@font-face
{
font-family: mygoticReg;
src: url(GOTHIC.TTF);
}
@font-face
{
font-family: lobesstar;
src: url(Lobster.ttf);
}
@font-face
{
font-family: latoLight;
src: url(Lato-Light.ttf);
}
body{ padding:0; 
      margin:0;
	   /*background-image:url(../Desktop/Photo0105.jpg);*/
	}
*{ padding:0; margin:0;}
.clear{ clear:both;}

header{ background-color:#262626; width:100%; height:50px; padding-top:10px;}
.menu{/* width:33%;*/ float:right; }
.menu ul{ padding:0; margin:0;}
.menu ul li{ list-style:none; display: inline;}
.menu ul li a{ color:#fff; font-family: Century Gothic; font-size:16px; text-decoration:none;}
.menu ul li a:hover{ color:#999999; font-family: Century Gothic; font-size:16px; text-decoration:none;}
.wel_title{ font-family: mygoticbold; font-size:42px; color:#1d1d1d; text-align:center; background-image:url(/static/useradmins/bg_img.png); background-position:bottom; background-repeat:no-repeat; padding-bottom:15px; margin-top:40px; margin-bottom: 20px;}
.logo{ margin:0 auto; width:115px; margin-top:-10px; z-index:999; text-align:center; position:absolute; margin-left:47%;}
.arrow{ margin:0 auto; width:108px; margin-top:-10px; z-index:1000; text-align:center; position:absolute; margin-left:47%; margin-top:414px;}

#footer{ width:100%; padding:10px; background-color:#262626;}
#footer .footer_addr{color:#FFFFFF; font-family: Century Gothic; font-size:14px; line-height:18px;}
#footer .ftr_menu{ float:right; padding-top:10px;}
#footer .ftr_menu ul{}
#footer .ftr_menu ul li{ list-style:none; display:inline; font-family:Century Gothic; font-size:14px; color:#c0c0c0; padding-left:5px; padding-right:5px;}
#footer .ftr_menu ul li a{font-family: Century Gothic; font-size:14px; color:#c0c0c0; text-decoration:none;}
#footer .ftr_menu ul li a:hover{font-family:Century Gothic; font-size:14px; color:#fff; text-decoration:none;}
.ftr_socialbox{ float:right; margin:0 auto; padding-top:20px; w}
.ftr_twitter{width:54px; float:left;}
.ftr_facebook{ width:54px; float:left;}
.ftr_mail{ width:42px; float:left;}
.extra_rcontent{ font-family: Century Gothic; font-size:24px; color:#A39E9E; text-align:center; padding-top: 170px;font-style: italic;}
.extra_text{font-family: Century Gothic; font-size:18px; color:#236cb1; text-align:center;}
.extra_text span{font-family: Arial; font-size:18px; color:#236cb1; text-align:center;}
.logo_area{ background-color:#eeeeee; text-align:center; height: 110px; margin-top: 20px;}
.ftr_copyrght{font-family:Century Gothic; font-size:12px; color:#e3e3e3; margin:0 auto; text-align:right;}

<!--......................................................................blog page........................................................-->
.ppp{}
.keeping{ font-family:Century Gothic; font-size:42px; color:#707070; padding-top:120px; text-align:center; font-weight:bold;}
.blog_box{ box-shadow:0px 3px 14px #000000; padding:10px; border-radius:5px; margin-top:30px;}
.blog_text{ font-family:Century Gothic; font-size:20px; color:#243d98; padding-top:12px; text-align:left; font-weight:normal;}
.blog_text a{ font-family:Century Gothic; font-size:20px; color:#243d98; padding-top:12px; text-align:left; font-weight:normal;}
.blog_text a:hover{ font-family:Century Gothic; font-size:20px; color:#000; text-decoration:none;}
.blog_date{ background-image:url(/static/useradmins/calender.jpg); background-repeat:no-repeat; background-position:left; color:#808080; font-size:11px; font-family:Century Gothic; padding-left:20px;}
.align_mid{ text-align:center; margin-left:67px; margin-right:67px; padding-top:8px; padding-bottom:20px;}
.pagination{  padding-top:40px; margin:0px auto; width:100%; text-align:center; padding-bottom:30px; padding-left:30px; padding-right:30px;}
.small_button{ background-color:#d3d3d3;  float:left; width:27px; height:27px; border-radius:5px; text-align:center; color:#000; font-family:myfont1; font-size:16px;}
.small_button1{ background-color:#fff;  float:left; width:27px; height:27px; border-radius:5px; text-align:center; color:#000; font-family:myfont1; font-size:16px; border: 1px solid #CCCCCC; margin-left:10px;}

.small_button a{ background-color:#d3d3d3;  text-align:center; color:#000; font-family:myfont1; font-size:16px;}
.small_button1 a{ background-color:#fff;  text-align:center; color:#000; font-family:myfont1; font-size:16px;}


<!--......................................................................blog details page........................................................-->

.ppppp{}
.black_bg{ width:1350px; background-color:#000000; margin:0px auto; overflow:hidden;}
.left_banner{ width:294px; margin:0px auto; float:left;}
.right_banner{ width:294px; margin:0px auto; float:left; }
.middle_area{ width:754px; float:left;}
.bd_top{ background-image:url(/static/useradmins/top_bdbg.jpg); background-repeat:no-repeat; height:144px;}
.after_top{  background-color:#262626; border-radius:7px; overflow:hidden; height:200px; height:843px;}
.bd_ttop{ font-family:Century Gothic; font-size:47px; color:#d3d3d3; padding-top:15px; text-align:center;}
.bd_ttop1{ font-family:Century Gothic; font-size:47px; color:#2e7dcc;  text-align:center; margin-top:-15px;}
.bd_ttop1 span{ font-family:Century Gothic; font-size:47px; color:#db0000; text-align:center; font-weight:bold; padding-left:2px; text-transform:uppercase;}
.white_portion{ background-color:#fff; width:752px; margin:0px auto; margin-top:30px; height:811px; border-bottom-left-radius:8px;  border-bottom-right-radius:8px;}
.bd_logo{ text-align:center; margin-top: 15px;}
.fb_share{ padding-left:17px; padding-right:20px; float:left; padding-top:700px; overflow:hidden;}
.twitter_share{ padding-left:20px; padding-right:21px; padding-top:700px; overflow:hidden;}

<!--...............................................................contact us.....................................................................-->

.mm{}
.logo1{ text-align:left; position:absolute; padding-left:15px;}
.contact_topbox{ float:right; padding-right:35px; overflow:hidden; margin-top:30px;}
.contact_welcome{ font-family:Century Gothic; font-size:16px; color:#262626; text-align:right;}
.contact_log{ font-family:Century Gothic; font-size:16px; color:#0064a7; text-align:right; font-weight:bold;}
.contact_log { font-family:Century Gothic; font-size:16px; color:#0064a7; text-align:right; font-weight:bold;}
.contact_heading{ font-family:Century Gothic; font-size:42px; color:#262626; text-align:left; font-weight:bold; margin-top:96px;}
.contact_right{ float:right;}
.contact_left{ float:left;}
.contact_label{ font-family:Century Gothic; font-size:16px; color:#484848; text-align:left; padding-left:10px; padding-top:17px; padding-bottom:10px;}
.contact_inbox1{ border: 1px solid #dadada; border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; width:431px; height:46px; margin-left:10px;}
.contact_inbox2{ border: 1px solid #dadada; border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; width:431px; height:210px; margin-left:10px;}
.contact_send{ text-align:center; padding-top:15px; padding-bottom:40px;}

<!--..............................................................user.........................................................................................-->
.lll{}
.userad_heading{font-family:Century Gothic; font-size:30px; color:#262626; text-align:left; font-weight:bold; margin-top:96px;}
.userad_gen{font-family:Century Gothic; font-size:20px; color:#262626; text-align:left; padding-top:0px; padding-bottom:2px;}
.userad_gen span{font-family:Century Gothic; font-size:21px; color:#df0000; font-weight:bold;}
.user_img{ right:0; margin-top:0px; margin-bottom:25px; text-align:right;}
.usead_bottombox{ background-image:url(/static/useradmins/userad_box.jpg); background-repeat:no-repeat; margin-top:5px; margin-bottom:50px; height:205px;}
.userad_bbfirst{ font-family:Century Gothic; font-size:38px; color:#fff; text-align:center; padding-top:30px;}
.userad_bbsecond{ font-family:Century Gothic; font-size:68px; color:#fff; font-weight:bold; text-align:center; margin-top: -15px;}
.userad_bbthird{ font-family:Century Gothic; font-size:22px; color:#fff; font-weight:bold; text-align:center; padding-bottom:30px; margin-top: -15px;}


<!--..............................................................pop-up.........................................................................................-->
.sss{}
.pop_facebookbox{ height:385px; width:594px; border-radius:8px; box-shadow:0px 1px 42px -1px rgba(0,0,0,0.75); overflow:hidden; padding:10px 20px 20px 20px;}
.facebook_text{ font-family:Century Gothic; font-size:26px; color:#004acb;  padding-top:1px; padding-bottom:25px; background-image:url(/static/useradmins/pop_facebook.jpg); background-repeat:no-repeat; background-position:left; padding-left: 50px; padding-top: 30px;}
.facebook_gentext{font-family:Century Gothic; font-size:14px; color:#484848; padding-left:5px;  }
.inner_box{ border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; margin:20px 0px 20px 0px; padding:20px; border:1px solid #C0C0C0;}
.innerbox_text{ font-family:Arial; font-size:12px; color:#2a2a2a; padding-bottom:10px;}
.innerbox_text a{ font-family:Arial; font-size:12px; color:#2a2a2a;}

.pop_mail{height:470px; width:594px; border-radius:8px; box-shadow:0px 1px 42px -1px rgba(0,0,0,0.75); overflow:hidden; padding:10px 20px 20px 20px;}
.popmail_text{ font-family:Century Gothic; font-size:26px; color:#ff8048;  padding-top:1px; padding-bottom:25px; background-image:url(/static/useradmins/pop_mail.jpg); background-repeat:no-repeat; background-position:left; padding-left: 50px; padding-top: 30px;}
.pmail_left{ width:80px; float:left;}
.pmail_right{ float:left;}
.pmail_text{font-family:Century Gothic; font-size:16px; color:#484848;  padding-top:1px; text-align:left; padding-top:10px; padding-left:10px;}
.pmail_inbox{ width:440px; border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; height:50px; border:1px solid #C0C0C0; padding-left:20px; margin-bottom:20px;}
.pmail_inbox1{ width:500px; border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; height:95px; margin-top:10px; margin-left:20px;}
.pop_button{ text-align:center; margin-top:20px;}


<!--..............................................................your details.........................................................................................-->

.nnn{}
.yourdet_heading{font-family:Century Gothic; font-size:42px; color:#262626; text-align:left; font-weight:bold; margin-top:96px; padding-left:10px;}

.yourdet_gen{font-family:Century Gothic; font-size:16px; color:#484848; text-align:left; padding-top:20px;}
.yourdet_inbox1{ width:450px; height:50px; margin-top:10px;  border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; border:1px solid #C0C0C0; padding-left:20px;}

.yourdet_box1{ background-color:#f2f2f2; overflow:hidden; border-radius:5px; margin-top:20px; margin-bottom:20px; padding-bottom:20px;}
.yourdet_box1_topcol{ background:linear-gradient(#507CE1, #015aab); height:55px; border-top-left-radius:5px; border-top-right-radius:5px;}
.yourdet_box1_header{font-family:Century Gothic; font-size:23px; color:#f2f2f2; text-align:left; padding-top:15px; padding-left:20px; font-weight:bold; text-transform:uppercase; }
.yourdet_box1_innertext{ font-family:Century Gothic; font-size:12px; color:#262626; text-align:left; padding-top:20px; padding-bottom:4px;}
.yourdet_inbox2{ width:70px; height:30px;  border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; border:1px solid #C0C0C0; }

.yourdet_inbox3{ width:260px; height:30px;  border-radius:5px; box-shadow:-2px -2px 2px 1px #dfdfdf; border:1px solid #C0C0C0; padding-left:20px;}

.button1{ background-color:#015aab; height:40px; width:90px; border-radius:5px; text-align:center; font-family:font-family:Century Gothic; font-size:24px; color:#fff; margin-top:20px; margin-bottom:0px; border:1px solid #015aab; font-weight:normal; }


.yourdet_box2_topcol{  background:linear-gradient(#ED4343, #9e0202); height:55px; border-top-left-radius:5px; border-top-right-radius:5px;}
.button2{ background-color:#9e0202; height:40px; width:90px; border-radius:5px; text-align:center; font-family:font-family:Century Gothic; font-size:24px; color:#fff; margin-top:20px; margin-bottom:0px; border:1px solid #9e0202; font-weight:normal; }

.yourdet_box3_topcol{ background:linear-gradient(#868686, #090909); height:55px; border-top-left-radius:5px; border-top-right-radius:5px;}
.button3{ background-color:#090909; height:40px; width:90px; border-radius:5px; text-align:center; font-family:font-family:Century Gothic; font-size:24px; color:#fff; margin-top:20px; margin-bottom:0px; border:1px solid #090909; font-weight:normal; }



<!--..............................................................subscribe.........................................................................................-->
.sss{}
.subp_heading{font-family:Century Gothic; font-size:42px; color:#262626; text-align:left; font-weight:bold; margin-top:96px; padding-left:10px; padding-bottom:20px;}
.sub_box{ border-radius:5px; box-shadow:0px 1px 22px -1px rgba(0,0,0,0.75); margin-bottom:10px; margin-top:10px; overflow:hidden; display:block; position:relative; height:533px;}
.sub1_topcol{ height:59px; background:linear-gradient(#fff, #CDCDCD); border-top-left-radius:5px; border-top-right-radius:5px;}
.sub1_topheading{font-family:Century Gothic; font-size:25px; color:#2470ef; text-align:center; padding-top:12px; text-transform:uppercase;}
.sub_gen{ color:#545454; font-size:17px; font-family:Century Gothic; padding:20px 10px 10px 10px; text-align:center;}
.sub_gen span{ color:#e22323; font-size:17px; font-family:Century Gothic; font-weight:bold;}
.subbox1_half{ width:49%; float:left; padding-left:2.5%; padding-right:1%;}
.sub_inbox{width:100%; height:40px; margin-top:10px;  border-radius:5px;  border:1px solid #C0C0C0; background:linear-gradient(#fff, #CDCDCD); padding-left:5px; font-family:Century Gothic; font-size:14px;}
.sub1_bottomcol{ background-color:#000000;  border-bottom-left-radius:5px; border-bottom-right-radius:5px; height:80px;}
.sub1_bottomheading{ color:#fff; font-size:19px; font-family:Century Gothic; text-align:center; padding-top:20px;}
.sub1_bottomheading span{ color:#ea0000; font-size:19px; font-family:Century Gothic; font-weight:bold;}
.sub2_topcol{ height:80px; border-top-left-radius:5px; border-top-right-radius:5px; background-color:#003286; }
.sub2_topheading{ font-family:Century Gothic; font-size:25px; color:#fff; text-align:center; padding-top:12px; text-transform:uppercase; line-height:29px;}
.sub2_gen{color:#545454; font-size:17px; font-family:Century Gothic; padding:10px 10px 10px 10px; text-align:center;}
.sub2_gen span{color:#d10000; font-size:17px; font-family:Century Gothic; font-weight:bold;}
.sub_inbox1{ width:95%; padding-left:3%; padding-right:2%; height:40px; margin-top:10px;  border-radius:5px;  border:1px solid #C0C0C0; background:linear-gradient(#fff, #CDCDCD); padding-left:5px; font-family:Century Gothic; font-size:14px;}

.sub_box2{ border-radius:5px; box-shadow:0px 1px 22px -1px rgba(0,0,0,0.75); margin-bottom:20px; margin-top:20px; overflow:hidden; display:block; position:relative; height:233px;}
.subbox2_topcol{ height:59px; background:linear-gradient(#fff, #CDCDCD); border-top-left-radius:5px; border-top-right-radius:5px;}
.subbox2_topheader{ font-family:Century Gothic; font-size:25px; color:#2470ef; text-align:center; padding-top:12px;}
.subbox2_inner{ padding:20px 20px 20px 20px;}
.subbox2_general{font-family:Century Gothic; font-size:16px; color:#545454; text-align:left; padding-bottom:3px;}
.subbox2_general span{font-family:Century Gothic; font-size:16px; color:#545454; font-weight:bold; text-transform:uppercase;}
.subbox2_generalred{font-family:Century Gothic; font-size:16px; color:#e40000; font-weight:bold; text-align:right;}
.subbox2_generalred a{font-family:Century Gothic; font-size:16px; color:#e40000; font-weight:bold; text-align:right;}
.subbox2_general2{font-family:Century Gothic; font-size:16px; color:#545454; text-align:left; padding-bottom:15px;}
.subbox2_general2 span{font-family:Century Gothic; font-size:16px; color:#e40000; font-weight:bold;}
