@font-face {
    font-family: mygoticbold;
    src: url(GOTHICB.TTF);
}

@font-face {
    font-family: mygoticReg;
    src: url(GOTHIC.TTF);
}

@font-face {
    font-family: lobesstar;
    src: url(Lobster.ttf);
}

@font-face {
    font-family: latoLight;
    src: url(Lato-Light.ttf);
}

body {
    padding: 0;
    margin: 0;
    /*background-image: url(../Desktop/Photo0105.jpg);*/
}

* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

.custom-responsive {
    width: 100%;
    height: auto;
}

header {
    position: relative;
    float: left;
    background-color:#262626;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.menu {
    float:right;
    width:auto;
    margin-right: 15px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    display:inline-block;
    margin-right: -2px;
    list-style:none;
    /*border-right: 1px solid #FFF;   */

}

.testim-border {
    border: 1px solid #c8c8c8;
}


.floating-btn {
  position: fixed;
  bottom: 10px;
  right: 0px;
  -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s;
  z-index: 1004;
}

.floating-btn.open {
  right: 280px !important;
}


.menu ul li:last-child {
    border-right: none;
}

.menu ul li a {
    padding: 0 6px;
    color:#fff;
    font-family:mygoticReg;
    font-size:16px;
    text-decoration:none;
}

.menu ul li span {
    padding: 0 0px;
    color:#fff;
    font-family:mygoticReg;
    font-size:15px;
    text-decoration:none;
}

.menu ul li a:hover {
    color: #999999;
    font-family: mygoticReg;
    font-size: 16px;
    text-decoration: none;
}
.menu-btn.index-menu-btn {
    display: none;
}
@media screen and (max-width: 860px) {
    .menu.index-menu {
        position: absolute;
        display: none;
        padding: 5px 10px;
        bottom: -255px !important;
        right: 0;
        background-color: #262626;
        -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.8);
        -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.8);
        box-shadow: 2px 2px 4px rgba(0,0,0,.8);
    }
    .menu.index-menu ul li {
        display: block;
        border-right: none;
        border-bottom: 1px solid #FFF;
    }
    .menu.index-menu ul li:last-child {
        border-bottom: none;
    }
    .menu.index-menu ul li a {
        display: inline-block;
        padding: 5px 10px;
    }
    .menu-btn.index-menu-btn {
        display: block;
        float: right;
        margin-right: 15px;
        padding: 4px;
        color: #FFF;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        line-height: 1;
    }
    .menu-btn.index-menu-btn span {
        font-size: 24px;
    }

    .menu ul li a {
        padding: 0 6px;
        color:#fff;
        font-family:mygoticReg;
        font-size:22px;
        text-decoration:none;
    }

    .menu ul li a:hover {
        color: #999999;
        font-family: mygoticReg;
        font-size: 22px;
        text-decoration: none;
    }
}
@media screen and (max-width: 767px) {
    .menu {
        position: absolute;
        display: none;
        padding: 5px 10px;
        bottom: -145px;
        right: 0;
        background-color: #262626;
        -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.8);
        -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.8);
        box-shadow: 2px 2px 4px rgba(0,0,0,.8);
    }
    .menu ul li {
        display: block;
        border-right: none;
        border-bottom: 1px solid #FFF;
    }
    .menu ul li:last-child {
        border-bottom: none;
    }
    .menu ul li a {
        display: inline-block;
        padding: 5px 10px;
    }
    .menu-btn {
        float: right;
        margin-right: 15px;
        padding: 4px;
        color: #FFF;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        line-height: 1;
    }
    .menu-btn span {
        font-size: 24px;
    }
}

.wel_title {
    font-family: mygoticbold;
    font-size: 42px;
    color: #1d1d1d;
    text-align: center;
    background-image: url(/static/public/bg_img.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
    .wel_title {
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    .wel_title {
        font-size: 22px;
    }
}

.logo{
    position: absolute;
    left: 10%;
    margin-top: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
}
@media screen and (max-width: 460px) {
    .logo {
        /*left: 15px;*/
        left: 30%;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.arrow {
    margin: 0 auto;
    width: 108px;
    margin-top: -10px;
    z-index: 1000;
    text-align: center;
    position: absolute;
    margin-left: 47%;
    margin-top: 414px;
}
.green-arrow {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    bottom: 10px;
    cursor: pointer;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.banner {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0px;
}
@media screen and (max-width: 767px) {
    .banner {
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover
    }
    .green-arrow {
        display: block !important;
    }
}

.f_title {
    height: 56px;
    background-color: #236cb2;
    font-family: mygoticbold;
    font-size: 28px;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .f_title {
        font-size: 20px;
    }
}

.f_img {
    text-align: center;
}
.f_img > img {
    display: inline-block;
}

.f_title3rd {
    height: 86px;
    background-color: #236cb2;
    font-family: mygoticbold;
    font-size: 28px;
    color: #fff;
    padding-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
}

.box {
    margin-top: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
    min-height: 350px;
    -webkit-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.50);
}
@media screen and (max-width: 767px) {
    .box.box-equalized {
        height: auto !important;
    }
}

.f_content {
    padding: 15px 30px;
    color: #4f4f4f;
    font-family: mygoticReg;
    font-size: 16px;
}

.f_lcontent {
    width: 100%;
    padding: 10px;
}

.f_lcontent ul {
    display: inline-block;
    max-width: 100%;
    padding-left: 20px;
}

.f_lcontent ul li {
    color: #4f4f4f;
    font-family: mygoticReg;
    font-size: 18px;
    list-style: none;
    list-style-image: url(/static/public/tick.jpg);
    text-align: left;
}

.f_content2 {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #4f4f4f;
    font-family: mygoticReg;
    font-size: 18px;
    margin-top: 10px;
}

.f_lcontent2 ul {
    display: inline-block;
    padding-left: 10px;
}

.f_lcontent2 ul li.bads {
    color: #4f4f4f;
    font-family: mygoticReg, sans-serif ;
    font-size: 18px;
    list-style: none url(/static/public/tick2.png);
    text-align: left;
}
.f_lcontent2 ul li.goods {
    color: #4f4f4f;
    font-family: mygoticReg, sans-serif ;
    font-size: 18px;
    list-style: none url(/static/public/tick.png);
    text-align: left;
}

.color_section {
    height: 470px;
    color: #666666;
    width: 100%;
    background-image: url(/static/public/col_sec.jpg);
    margin-top: 20px;
}
@media screen and (max-width: 991px) {
    .color_section {
        height: auto;
        padding-bottom: 30px;
    }
}

.welc_title {
    font-family: mygoticbold;
    font-size: 42px;
    color: #1d1d1d;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box1 {
    background-image: url(/static/public/box1.jpg);
    height: 312px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.box2 {
    background-image: url(/static/public/box2.jpg);
    height: 312px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.box3 {
    background-image: url(/static/public/box3.jpg);
    height: 312px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.blue-stick {
    margin: 10px 0;
    background-color: #236CB1;
    border-radius: 8px;
}
.blue-stick > div:first-child {
    padding-top: 10px;
    padding-bottom: 10px
}

.fl_content {
    color: #fff;
    font-family: mygoticbold;
    font-size: 28px;
    text-align: center;
    /*padding-bottom: 20px;*/
    padding-top: 15px;
    padding-bottom: 10px;
}

.fl_content p {
    color: #fff;
    font-family: mygoticReg;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding-top: 3px;
    margin: 0px
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .fl_content {
        font-size: 22px;
    }
    .fl_content p {
        font-size: 14px;
    }
}
@media screen and (min-width: 992px) {
    .big-balls {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 460px) {
    .big-balls {
        padding: 0 10px;
    }
}
.r_box1 {
    height: 312px;
    background: url(/static/public/step1.jpg) no-repeat center center;
    margin-bottom: 80px;
}

.r_box2 {
    height: 312px;
    background: url(/static/public/step2.jpg) no-repeat center center;
    margin-bottom: 80px;
}

.r_box3 {
    height: 312px;
    background: url(/static/public/step3.jpg) no-repeat center center;
    margin-bottom: 80px;
}

@media screen and (max-width: 1199px) {
    .r_box1, .r_box2, .r_box3 {

    }
}

.r_box1_content {
    font-family: "mygoticbold", sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 84%;
    padding-top: 110px;
    line-height: 20px;
    margin: 0 auto;
}
@media screen and (max-width: 991px) {
    .r_box1_content {
        padding-left: 23%;
        padding-right: 23%;
    }
}
@media screen and (max-width: 680px) {
    .r_box1_content {
        padding-top: 95px;
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media screen and (max-width: 540px) {
    .r_box1_content {
        padding-left: 16%;
        padding-right: 16%;
    }
}
@media screen and (max-width: 390px) {
    .r_box1_content {
        padding-left: 10%;
        padding-right: 10%;
    }
}


.r_box1r_content {
    font-family: mygoticbold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 80%;
    padding-top: 90px;

    line-height: 20px;
    margin: 0px auto;
}

.wel_top_title {
    color: #1d1d1d;
    text-align: center;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    border-top: 1px #CCCCCC solid;
    padding: 25px 0px 25px 0px;
}

.wel_top_title span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 39px;
    text-transform: capitalize;
}
.wel_top_title span.red-word {
    color: #b30000;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .wel_top_title span {
        font-size: 24px;
    }
}

.gapwel {
    height: 20px;
}

.section_box2_rghtb {
    width: 100%;
    float: left;
    padding: 10px;
}

.section_box2b {
    float: left;
    background-color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    padding: 6px 5px 6px 6px;
}
.section_box2b .embed-responsive {
    min-height: 165px;
}
@media screen and (max-width: 991px) {
    .section_box2b {
        margin-bottom: 20px;
    }
}

.color_section2 {
    /*height: 760px;*/
    color: #236cb2;
    width: 100%;
    background-color: #236cb2;
    padding-top: 20px;
    padding-bottom: 105px;
}

.section_box2 {
    float: left;
    background-color: #FFFFFF;
    width: 90%;
    /*height: 120px;*/
    border-radius: 5px;
    margin-top: 15px;
}

.section_box2_img {
    width: 25%;
    float: left;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .section_box2_img {
        padding: 10px 0 0 5px;
    }
}

.section_box2_rght {
    width: 70%;
    float: left;
    padding-left: 10px;
    padding-top: 9px;
}

.section_box2_desc {
    color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.section_box2_title {
    font-family: lobesstar;
    font-size: 22px;
    color: #000000;
}

.section_box2_title p {
    color: #4e4e4e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 8px;
    margin: 0px;
}

.section_box2_star {
    padding-top: 5px;
}

.wel_title123 {
    font-family: mygoticbold, sans-serif;
    font-size: 42px;
    color: #1d1d1d;
    text-align: center;
    background-image: url(/static/public/bg_img.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
    .wel_title123 {
        font-size: 26px;
    }
}
@media screen and (max-width: 480px) {
    .wel_title123 {
        font-size: 22px;
    }
}

.color_section3 {
    /*height: 650px;*/
    padding-bottom: 30px;
    color: #666666;
    width: 100%;
    /*background-image: url(/static/public/col_sec.jpg);*/
    background-color: #236cb2 !important;
}
.color_section3 .container {
    max-width: 100%;
    width: 900px;
}
.color_section3 .container [class^="col-"] {
    margin-bottom: 30px;
}

.banner_img {
    width: 100%;
    float: none
}

.gurrantee_box {
    /*width: 205px;*/
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 218px;
    text-align: left !important;
    -webkit-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    /*box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.50);*/
}


@media screen and (max-width: 767px) {
    .gurrantee_box {
        display: inline-block;
        float: none;
    }
}

.gurrantee_img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gurrantee_title {
    position: relative;
    max-width: 70%;
    margin-top: -80px;
    padding-left: 10px;
    color: #7ba720;
    font-family: mygoticReg, sans-serif;
    font-size: 24px;
    background-color: #FFFFFF;
    z-index: 5;
}

.gurrantee_title a {
    color: #7ba720;
    font-family: mygoticReg, sans-serif;
    font-size: 24px;
}
@media screen and (max-width: 991px) {
    .gurrantee_title a {
        font-size: 20px;
    }
}

.gurrantee_title a:hover {
    color: #000;
    text-decoration: none;
}

.gurrantee_title p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 16px;
    padding-left: 2px;
}

.grnt_img {
    padding-top: 5px;
}
.grnt_img img {
    width: 100%;
}

.made_in_uk {
    color: #000000;
    font-family: mygoticReg, sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
}

.made_in_ukimg img {
    display: inline-block;
}

.color_section4 {
    color: #666666;
    width: 100%;
    background-image: url(/static/public/col_sec.jpg);
}

.saving_today_box {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px; /*margin:8px;*/
    min-height: 218px; /* margin-left:15px;*/
    margin-top: 20px;
    -webkit-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.50);
}

.saving_today_box1 {
    width: 48.5%;
    float: left;
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    min-height: 218px;
    -webkit-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.50);
}

.saving_today_box1_1 {
    width: 48.5%;
    float: left;
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    min-height: 218px;
    margin-left: 25px;
    -webkit-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.50);
}
@media screen and (max-width: 991px) {
    .saving_today_box1_1 {
        margin-left: 20px;
    }
}
@media screen and (max-width: 767px) {
    .saving_today_box1, .saving_today_box1_1 {
        width: 100%;
    }
    .saving_today_box1_1 {
        margin-left: 0;
    }
}

.saving_box_left {
    width: 60%;
    float: left;
}

.saving_box_left2 {
    width: 100%;
    float: left;
}

.saving_box_content {
    font-family: mygoticbold, sans-serif;
    font-size: 41px;
    color: #b30000;
}

.saving_box_simple_content {
    width: 100%;
}

.saving_box_content p {
    color: #000000;
    font-family: mygoticReg, sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding-right: 30px;
}


.saving_box_content div {
    color: #000000;
    font-family: mygoticReg, sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding-right: 30px;
}

.saving_box_rimg {
    width: 40%;
    float: left;
}
@media screen and (max-width: 767px) {
    .saving_box_left, .saving_box_rimg {
        width: 100%;
    }
    .saving_box_rimg img {
        display: inline-block;
    }
    .saving_box_content {
        font-size: 26px;
    }
    .saving_box_content p {
        padding: 0;
    }
}
.saving_box_rimg p {
    text-align: center;
    color: #000000;
    font-family: mygoticReg;
    font-size: 18px;
    line-height: 27px;
}

.bonus_left {
    width: 20%;
    float: left;
}

.bonus_right {
    width: 80%;
    float: left;
}

.bonus_desc {
    color: #424242;
    font-family: mygoticReg;
    font-size: 18px;
    line-height: 20px;
    padding-right: 20px;
}

.bonus_desc p {
    color: #0f3d86;
    font-family: mygoticbold;
    font-size: 18px;
    line-height: 18px;
    padding-top: 30px;
}

.con_button {
    width: 435px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
}


.con_button2 {
    width: 435px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 12px;
}
@media screen and (max-width: 767px) {
    .con_button {
        width: 100%;
    }
    .con_button a {
        display: inline-block;
        max-width: 100%;
        padding: 0 15px;
    }

    .con_button2 {
        width: 100%;
    }
    .con_button2 a {
        display: inline-block;
        max-width: 100%;
        padding: 0 15px;
    }
}
.color_section_colour {
    /*height: 375px;*/
    padding-bottom: 70px;
    color: #666666;
    width: 100%;
    background-color: #236cb2;
}

.social_box {
    width: 100%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
}

.footer_b {
    height: 224px;
    background-color: #262626;
}

.ftr_copyrght {
    font-family: mygoticReg;
    font-size: 12px;
    color: #e3e3e3;
    margin: 0 auto;
    text-align: right;
}
@media screen and (max-width: 767px) {
    .ftr_copyrght {
        text-align: center;
    }
}

.box_shadow {
    width: 100%;
    margin-top: -2px;
    text-align: center;
}

#footer {
    width: 100%;
    padding: 10px;
    background-color: #262626;
}
@media screen and (max-width: 767px) {
    .logo-wrapper img {
        display: inline-block;
    }
    .logo-wrapper {
        text-align: right;
    }
}

#footer .footer_addr {
    color: #FFFFFF;
    font-family: mygoticReg;
    font-size: 14px;
    line-height: 18px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #footer .footer_addr {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    #footer .footer_addr {
        font-size: 12px;
    }
}

#footer .ftr_menu {
    float: right;
    padding-top: 10px;
}

#footer .ftr_menu ul {
}

#footer .ftr_menu ul li {
    list-style: none;
    display: inline;
    font-family: mygoticReg;
    font-size: 14px;
    color: #c0c0c0;
    padding-left: 5px;
    padding-right: 5px;
}

#footer .ftr_menu ul li a {
    font-family: mygoticReg;
    font-size: 14px;
    color: #c0c0c0;
    text-decoration: none;
}

#footer .ftr_menu ul li a:hover {
    font-family: mygoticReg;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #footer .ftr_menu ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
    #footer .ftr_menu ul li a {
        font-size: 11px;
    }
    #footer .ftr_menu ul li a:hover {
        font-size: 11px;
    }
}

.ftr_socialbox {
    float: right;
    margin: 0 auto;
    padding-top: 20px;
}

@media screen and (max-width: 767px) {
    #footer .ftr_menu {
        float: none;
        display: inline-block;
    }
    .ftr_socialbox {
        float: none;
        display: inline-block;
    }
}

.ftr_twitter {
    width: 54px;
    float: left;
}

.ftr_facebook {
    width: 54px;
    float: left;
}

.ftr_mail {
    width: 54px;
    float: left;
}

.extra_rcontent {
    font-family: mygoticbold;
    font-size: 24px;
    color: #A39E9E;
    text-align: center;
    padding-top: 170px;
    font-style: italic;
}
.thumbs-icon > img {
    max-width: 20%;
}
.box-bottom-text {
    margin-left: 10px;
    font-family: mygoticbold;
    font-size: 18px;
    color: #236cb1;
}

.extra_text {
    font-family: mygoticbold;
    font-size: 18px;
    color: #236cb1;
    text-align: left;
    margin-left: -15px;
}

.extra_text span {
    font-family: Arial;
    font-size: 18px;
    color: #236cb1;
    text-align: left;
}

.logo_area {
    background-color: #eeeeee;
    text-align: center;
    height: 110px;
    margin-top: 20px;
}

/* Green BTN & Fixed top bar */

.banner-btn {
    position: absolute;
    bottom: 35px;
    right: 15.5%;
    left: 56.5%;
    opacity: 0.9;
    transition: all linear 0.2s
}
.banner-btn:hover {
    opacity: 1;
}
.banner-btn img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 767px) {
    .banner-btn {
        right: 10%;
        left: 10%;
    }
}

@media screen and (max-width: 980px) {
    .banner-btn {
        bottom: 25px;
    }
}

@media screen and (max-width: 800px) {
    .banner-btn {
        bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .banner-btn {
        bottom: 20px;
    }
}

@media screen and (max-width: 490px) {
    .banner-btn {
        position: relative;
        right: auto;
        left: auto;
        bottom: auto;
    }
}

.fixed-bar {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    z-index: 1100;
}

/*.fixed-bar2 {*/
    /*display: none;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*padding: 0 15px;*/
    /*background-color: #fff;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);*/
    /*z-index: 1100;*/
/*}*/

.fixed-bar h4 {
    font-family: mygoticbold, sans-serif;
    font-size: 36px;
    color: #000;
}
.fixed-bar strong {
    color: #f00;
}
.fixed-btn {
    display: inline-block;
    max-width: 300px;
    opacity: 0.9;
}
.fixed-btn:hover {
    opacity: 1;
}
.fixed-btn img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 991px) {
    .fixed-bar h4 {
        font-size: 28px;
    }
    .fixed-btn {
        max-width: 200px;
    }
}
@media screen and (max-width: 767px) {
    .fixed-bar h4 {
        font-size: 18px;
    }
}

/* /Green BTN & Fixed top bar */